In [16]:
#
# hw4pr3titanic:  titanic-passenger clasification via nearest neighbors
#

In [18]:
# libraries!
import numpy as np      # numpy is Python's "array" library
import pandas as pd     # Pandas is Python's "data" library ("dataframe" == spreadsheet)

In [19]:
# let's read in our births data...
# 
# for read_csv, use header=0 when row 0 is a header row
# 
cleaned_filename = "titanic_cleaned.csv"
df_tidy = pd.read_csv(cleaned_filename)   # encoding="utf-8" et al.
print(f"{cleaned_filename} : file read into a pandas dataframe.")
pd.options.display.min_rows = 30
df_tidy

titanic_cleaned.csv : file read into a pandas dataframe.

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      1      2
2          1         0    0   2.0000      1      2
3          1         0    1  30.0000      1      2
4          1         0    0  25.0000      1      2
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      1      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      2      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      1      0
11         1         1    0  18.0000      1      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      1      0
1247       3         0    1  21.0000      1      0
1248       3         1    0  47.0000      1      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      1      0
1258       3         1    0  15.0000      1      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      1      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [20]:
df_tidy = df_tidy[['pclass', 'sex', 'age', 'sibsp', 'parch', 'survived']]

In [21]:
# First, look at the info:
df_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1266
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1004 non-null   int64
 1   sex       1004 non-null   int64
 2   age       1004 non-null   float64
 3   sibsp     1004 non-null   int64
 4   parch     1004 non-null   int64
 5   survived  1004 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 54.9 KB

In [22]:
A = df_tidy.to_numpy()    # yields the underlying numpy array
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 1.      0.     29.      0.      0.      1.    ]
 [ 1.      1.      0.9167  1.      2.      1.    ]
 [ 1.      0.      2.      1.      2.      0.    ]
 ...
 [ 3.      1.     26.5     0.      0.      0.    ]
 [ 3.      1.     27.      0.      0.      0.    ]
 [ 3.      1.     29.      0.      0.      0.    ]]

In [23]:
#
# Also, nice to have NUM_ROWS and NUM_COLS around
#
NUM_ROWS, NUM_COLS = A.shape
print(f"\nThe dataset has {NUM_ROWS} rows and {NUM_COLS} cols")

The dataset has 1004 rows and 6 cols

In [24]:
# choose a row index, n:
n = 42
COLUMNS = df_tidy.columns
CATEGORIES = ['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch']
COL_INDEX = {}
for i, name in enumerate(COLUMNS):
    COL_INDEX[name] = i  # using the name (as key), look up the value (i)
print(f"COL_INDEX is {COL_INDEX}\n\n")
print(f"Passenger #{n} is {A[n]}")

for i in range(len(COLUMNS)):
    colname = COLUMNS[i]
    value = A[n][i]
    print(f"  Its {colname} is {value}")

COL_INDEX is {'pclass': 0, 'sex': 1, 'age': 2, 'sibsp': 3, 'parch': 4, 'survived': 5}


Passenger #42 is [ 1.  0. 53.  0.  0.  1.]
  Its pclass is 1.0
  Its sex is 0.0
  Its age is 53.0
  Its sibsp is 0.0
  Its parch is 0.0
  Its survived is 1.0

In [25]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 1.      0.     29.      0.      0.    ]
 [ 1.      1.      0.9167  1.      2.    ]
 [ 1.      0.      2.      1.      2.    ]
 ...
 [ 3.      1.     26.5     0.      0.    ]
 [ 3.      1.     27.      0.      0.    ]
 [ 3.      1.     29.      0.      0.    ]]

In [26]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list
# print(indices)

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels are
 [1. 0. 0. ... 1. 0. 0.]
The corresponding data rows are
 [[ 3.   1.   6.   0.   1. ]
 [ 3.   1.  36.   1.   1. ]
 [ 3.   1.  38.5  0.   0. ]
 ...
 [ 2.   0.   7.   0.   2. ]
 [ 3.   0.  30.   1.   0. ]
 [ 1.   1.  37.   0.   1. ]]

In [27]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0. 0.]
X_test (first few rows): [[ 1.  1. 28.  0.  0.]
 [ 1.  0. 33.  0.  0.]
 [ 3.  1. 25.  0.  0.]
 [ 2.  1. 25.  0.  0.]
 [ 1.  0. 27.  1.  2.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0.
 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0.
 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1.
 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0.
 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1.
 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0.
 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0.
 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1.
 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0.
 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0.]
X_train (first few rows): [[ 1.  1. 41.  1.  0.]
 [ 1.  0. 35.  1.  0.]
 [ 1.  1. 43.  1.  0.]
 [ 3.  1. 21.  0.  0.]
 [ 3.  1. 27.  1.  0.]]

In [28]:
#
# +++ This is the "Model-building and Model-training Cell"
#       
# Create a kNN model and train it! 
#
from sklearn.neighbors import KNeighborsClassifier

k = 84   # we don't know what k to use, so we guess!  (this will _not_ be a good value)
knn_model = KNeighborsClassifier(n_neighbors=k)       # here, k is the "k" in kNN

# we train the model (it's one line!)
knn_model.fit(X_train, y_train)                              # yay!  trained!
print("Created and trained a knn classifier with k =", k)

Created and trained a knn classifier with k = 84

In [29]:
#
# +++ This cell is our "Model-testing Cell"
#
# Now, let's see how well our model does on our "held-out data" (the testing data)
#

# We run our test set:

# the function knn_model.predict is the instantiation of our model
# it's what runs the k-nearest-neighbors algorithm:
predicted_labels = knn_model.predict(X_test)      # THIS IS THE KEY LINE:  predict
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual  labels  :", actual_labels)

# And, some overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.")

Predicted labels: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Actual  labels  : [1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0. 0.]

Results on test set:  130 correct out of 201 total.

In [30]:
#
# Let's print things in a vertical table
#

def compare_labels(predicted_labels, actual_labels):
    """ a more neatly formatted comparison """
    NUM_LABELS = len(predicted_labels)
    num_correct = 0

    print()
    print(f'row {"#":>3s} : {"predicted":>12s} {"actual":<12s}   {"result"}')   
    
    for i in range(NUM_LABELS):
        p = int(round(predicted_labels[i]))         # round protects from fp error 
        a = int(round(actual_labels[i]))
        result = "incorrect"
        if p == a:  # if they match,
            result = ""       # no longer incorrect
            num_correct += 1  # and we count a match!

        print(f"row {i:>3d} : {p:>12d} {a:<12d}   {result}")   

    print()
    print("Correct:", num_correct, "out of", NUM_LABELS)
    return num_correct

# let's try it out!
compare_labels(predicted_labels,actual_labels)

row   # :    predicted actual         result
row   0 :            0 1              incorrect
row   1 :            0 1              incorrect
row   2 :            0 0
row   3 :            0 0
row   4 :            0 1              incorrect
row   5 :            0 1              incorrect
row   6 :            0 1              incorrect
row   7 :            0 0
row   8 :            0 0
row   9 :            0 0
row  10 :            0 0
row  11 :            0 1              incorrect
row  12 :            0 0
row  13 :            1 1
row  14 :            0 0
row  15 :            0 0
row  16 :            1 1
row  17 :            0 1              incorrect
row  18 :            0 0
row  19 :            0 0
row  20 :            0 0
row  21 :            0 1              incorrect
row  22 :            0 0
row  23 :            0 0
row  24 :            0 1              incorrect
row  25 :            0 0
row  26 :            0 1              incorrect
row  27 :            0 0
row  28 :            0 1              incorrect
row  29 :            0 1              incorrect
row  30 :            0 1              incorrect
row  31 :            0 0
row  32 :            0 0
row  33 :            1 1
row  34 :            0 0
row  35 :            0 1              incorrect
row  36 :            0 0
row  37 :            0 1              incorrect
row  38 :            0 0
row  39 :            0 0
row  40 :            0 0
row  41 :            0 0
row  42 :            1 1
row  43 :            0 0
row  44 :            0 0
row  45 :            0 1              incorrect
row  46 :            0 1              incorrect
row  47 :            0 0
row  48 :            0 0
row  49 :            0 0
row  50 :            0 1              incorrect
row  51 :            0 1              incorrect
row  52 :            0 0
row  53 :            0 0
row  54 :            0 0
row  55 :            0 0
row  56 :            0 0
row  57 :            0 1              incorrect
row  58 :            0 1              incorrect
row  59 :            0 1              incorrect
row  60 :            0 1              incorrect
row  61 :            0 0
row  62 :            0 1              incorrect
row  63 :            0 0
row  64 :            0 0
row  65 :            0 0
row  66 :            0 0
row  67 :            0 0
row  68 :            0 1              incorrect
row  69 :            1 1
row  70 :            0 1              incorrect
row  71 :            0 1              incorrect
row  72 :            0 1              incorrect
row  73 :            0 1              incorrect
row  74 :            0 0
row  75 :            0 0
row  76 :            1 0              incorrect
row  77 :            0 1              incorrect
row  78 :            0 0
row  79 :            0 1              incorrect
row  80 :            0 0
row  81 :            0 1              incorrect
row  82 :            0 0
row  83 :            0 0
row  84 :            0 1              incorrect
row  85 :            0 0
row  86 :            0 0
row  87 :            0 1              incorrect
row  88 :            0 1              incorrect
row  89 :            0 1              incorrect
row  90 :            0 0
row  91 :            0 0
row  92 :            0 1              incorrect
row  93 :            0 0
row  94 :            0 1              incorrect
row  95 :            0 1              incorrect
row  96 :            0 1              incorrect
row  97 :            0 0
row  98 :            0 1              incorrect
row  99 :            0 0
row 100 :            0 0
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 1              incorrect
row 104 :            0 0
row 105 :            0 0
row 106 :            0 0
row 107 :            0 0
row 108 :            0 0
row 109 :            0 1              incorrect
row 110 :            1 1
row 111 :            0 0
row 112 :            0 1              incorrect
row 113 :            0 0
row 114 :            0 1              incorrect
row 115 :            0 0
row 116 :            0 0
row 117 :            0 0
row 118 :            1 1
row 119 :            0 0
row 120 :            0 1              incorrect
row 121 :            0 1              incorrect
row 122 :            0 1              incorrect
row 123 :            0 0
row 124 :            0 0
row 125 :            0 0
row 126 :            0 0
row 127 :            0 0
row 128 :            0 0
row 129 :            0 1              incorrect
row 130 :            0 0
row 131 :            0 0
row 132 :            0 0
row 133 :            0 0
row 134 :            0 1              incorrect
row 135 :            0 0
row 136 :            0 1              incorrect
row 137 :            0 1              incorrect
row 138 :            0 0
row 139 :            0 1              incorrect
row 140 :            0 0
row 141 :            0 0
row 142 :            0 0
row 143 :            0 0
row 144 :            0 1              incorrect
row 145 :            0 0
row 146 :            1 1
row 147 :            0 0
row 148 :            0 0
row 149 :            0 1              incorrect
row 150 :            0 1              incorrect
row 151 :            0 0
row 152 :            0 0
row 153 :            0 0
row 154 :            0 1              incorrect
row 155 :            0 0
row 156 :            0 0
row 157 :            0 0
row 158 :            0 0
row 159 :            0 0
row 160 :            0 0
row 161 :            0 0
row 162 :            0 1              incorrect
row 163 :            0 0
row 164 :            0 0
row 165 :            0 0
row 166 :            0 1              incorrect
row 167 :            0 0
row 168 :            0 0
row 169 :            0 0
row 170 :            0 0
row 171 :            1 1
row 172 :            0 0
row 173 :            0 1              incorrect
row 174 :            0 0
row 175 :            0 0
row 176 :            0 0
row 177 :            0 0
row 178 :            0 0
row 179 :            0 1              incorrect
row 180 :            0 1              incorrect
row 181 :            0 1              incorrect
row 182 :            0 1              incorrect
row 183 :            0 1              incorrect
row 184 :            0 0
row 185 :            1 0              incorrect
row 186 :            0 0
row 187 :            0 0
row 188 :            0 0
row 189 :            0 0
row 190 :            1 0              incorrect
row 191 :            0 0
row 192 :            0 0
row 193 :            0 1              incorrect
row 194 :            0 0
row 195 :            0 0
row 196 :            0 1              incorrect
row 197 :            0 0
row 198 :            0 0
row 199 :            0 0
row 200 :            0 0

Correct: 130 out of 201

130

In [31]:
def predictive_model( Features ):
    """ input: a list of two features 
                [ month, day ]
        output: the predicted outcome of 1 or 0 that correspond to "above" or "below" the median number of births
    """
    our_features = np.asarray([Features])                 # extra brackets needed
    predicted_births = knn_model.predict(our_features)   # PREDICT!
    return float(predicted_births)

#
# Try it!
# 
# Features = eval(input("Enter new Features: "))
#
Features = [9., 1., 0., 29., 0.]            
result = predictive_model( Features )
print(f"I predict {result} from Features {Features}")

I predict 1.0 from Features [9.0, 1.0, 0.0, 29.0, 0.0]

In [32]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6925
k:  2  cv accuracy:  0.6912
k:  3  cv accuracy:  0.7149
k:  4  cv accuracy:  0.7198
k:  5  cv accuracy:  0.7161
k:  6  cv accuracy:  0.7273
k:  7  cv accuracy:  0.7323
k:  8  cv accuracy:  0.7024
k:  9  cv accuracy:  0.7236
k: 10  cv accuracy:  0.7086
k: 11  cv accuracy:  0.7261
k: 12  cv accuracy:  0.7049
k: 13  cv accuracy:  0.7087
k: 14  cv accuracy:  0.6974
k: 15  cv accuracy:  0.6974
k: 16  cv accuracy:  0.6912
k: 17  cv accuracy:  0.6987
k: 18  cv accuracy:  0.6974
k: 19  cv accuracy:  0.6937
k: 20  cv accuracy:  0.6837
k: 21  cv accuracy:  0.6825
k: 22  cv accuracy:  0.6862
k: 23  cv accuracy:  0.6875
k: 24  cv accuracy:  0.6825
k: 25  cv accuracy:  0.6838
k: 26  cv accuracy:  0.6800
k: 27  cv accuracy:  0.6788
k: 28  cv accuracy:  0.6750
k: 29  cv accuracy:  0.6763
k: 30  cv accuracy:  0.6676
k: 31  cv accuracy:  0.6651
k: 32  cv accuracy:  0.6563
k: 33  cv accuracy:  0.6526
k: 34  cv accuracy:  0.6526
k: 35  cv accuracy:  0.6576
k: 36  cv accuracy:  0.6489
k: 37  cv accuracy:  0.6501
k: 38  cv accuracy:  0.6514
k: 39  cv accuracy:  0.6451
k: 40  cv accuracy:  0.6414
k: 41  cv accuracy:  0.6414
best_k = 7   yields the highest average cv accuracy.

In [33]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 7

In [34]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1.
 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1.
 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0.
 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0.
 1. 0. 1. 0. 1. 0. 0. 0. 0.]
Actual labels: [1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0. 0.]

Results on test set:  152 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            0 1              incorrect
row   1 :            1 1
row   2 :            0 0
row   3 :            0 0
row   4 :            1 1
row   5 :            0 1              incorrect
row   6 :            1 1
row   7 :            0 0
row   8 :            0 0
row   9 :            0 0
row  10 :            0 0
row  11 :            1 1
row  12 :            0 0
row  13 :            1 1
row  14 :            0 0
row  15 :            0 0
row  16 :            1 1
row  17 :            0 1              incorrect
row  18 :            0 0
row  19 :            0 0
row  20 :            0 0
row  21 :            0 1              incorrect
row  22 :            0 0
row  23 :            1 0              incorrect
row  24 :            0 1              incorrect
row  25 :            1 0              incorrect
row  26 :            0 1              incorrect
row  27 :            0 0
row  28 :            0 1              incorrect
row  29 :            1 1
row  30 :            1 1
row  31 :            0 0
row  32 :            0 0
row  33 :            1 1
row  34 :            0 0
row  35 :            0 1              incorrect
row  36 :            0 0
row  37 :            1 1
row  38 :            0 0
row  39 :            0 0
row  40 :            0 0
row  41 :            0 0
row  42 :            1 1
row  43 :            1 0              incorrect
row  44 :            0 0
row  45 :            1 1
row  46 :            1 1
row  47 :            1 0              incorrect
row  48 :            0 0
row  49 :            0 0
row  50 :            1 1
row  51 :            1 1
row  52 :            0 0
row  53 :            1 0              incorrect
row  54 :            0 0
row  55 :            0 0
row  56 :            0 0
row  57 :            1 1
row  58 :            0 1              incorrect
row  59 :            0 1              incorrect
row  60 :            1 1
row  61 :            0 0
row  62 :            1 1
row  63 :            0 0
row  64 :            0 0
row  65 :            0 0
row  66 :            0 0
row  67 :            0 0
row  68 :            1 1
row  69 :            1 1
row  70 :            1 1
row  71 :            0 1              incorrect
row  72 :            1 1
row  73 :            0 1              incorrect
row  74 :            0 0
row  75 :            0 0
row  76 :            1 0              incorrect
row  77 :            0 1              incorrect
row  78 :            0 0
row  79 :            1 1
row  80 :            0 0
row  81 :            1 1
row  82 :            0 0
row  83 :            1 0              incorrect
row  84 :            1 1
row  85 :            0 0
row  86 :            0 0
row  87 :            0 1              incorrect
row  88 :            1 1
row  89 :            0 1              incorrect
row  90 :            0 0
row  91 :            0 0
row  92 :            1 1
row  93 :            0 0
row  94 :            0 1              incorrect
row  95 :            1 1
row  96 :            1 1
row  97 :            0 0
row  98 :            1 1
row  99 :            0 0
row 100 :            0 0
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 1              incorrect
row 104 :            0 0
row 105 :            1 0              incorrect
row 106 :            1 0              incorrect
row 107 :            0 0
row 108 :            0 0
row 109 :            0 1              incorrect
row 110 :            1 1
row 111 :            0 0
row 112 :            1 1
row 113 :            1 0              incorrect
row 114 :            1 1
row 115 :            0 0
row 116 :            1 0              incorrect
row 117 :            0 0
row 118 :            1 1
row 119 :            0 0
row 120 :            0 1              incorrect
row 121 :            1 1
row 122 :            1 1
row 123 :            0 0
row 124 :            0 0
row 125 :            0 0
row 126 :            0 0
row 127 :            0 0
row 128 :            0 0
row 129 :            1 1
row 130 :            0 0
row 131 :            1 0              incorrect
row 132 :            0 0
row 133 :            0 0
row 134 :            1 1
row 135 :            0 0
row 136 :            0 1              incorrect
row 137 :            0 1              incorrect
row 138 :            0 0
row 139 :            0 1              incorrect
row 140 :            1 0              incorrect
row 141 :            0 0
row 142 :            1 0              incorrect
row 143 :            0 0
row 144 :            1 1
row 145 :            0 0
row 146 :            1 1
row 147 :            0 0
row 148 :            0 0
row 149 :            0 1              incorrect
row 150 :            0 1              incorrect
row 151 :            0 0
row 152 :            0 0
row 153 :            0 0
row 154 :            1 1
row 155 :            0 0
row 156 :            0 0
row 157 :            0 0
row 158 :            1 0              incorrect
row 159 :            0 0
row 160 :            0 0
row 161 :            0 0
row 162 :            1 1
row 163 :            0 0
row 164 :            0 0
row 165 :            1 0              incorrect
row 166 :            1 1
row 167 :            0 0
row 168 :            0 0
row 169 :            0 0
row 170 :            0 0
row 171 :            1 1
row 172 :            1 0              incorrect
row 173 :            1 1
row 174 :            0 0
row 175 :            0 0
row 176 :            0 0
row 177 :            0 0
row 178 :            0 0
row 179 :            1 1
row 180 :            0 1              incorrect
row 181 :            0 1              incorrect
row 182 :            1 1
row 183 :            1 1
row 184 :            0 0
row 185 :            0 0
row 186 :            1 0              incorrect
row 187 :            1 0              incorrect
row 188 :            0 0
row 189 :            0 0
row 190 :            0 0
row 191 :            0 0
row 192 :            1 0              incorrect
row 193 :            0 1              incorrect
row 194 :            1 0              incorrect
row 195 :            0 0
row 196 :            1 1
row 197 :            0 0
row 198 :            0 0
row 199 :            0 0
row 200 :            0 0

Correct: 152 out of 201

152

In [35]:
#
# Ok!  We tuned our knn modeling to use the "best" value of k...
#
# And, we should now use ALL available data to train our final predictive model:
#
knn_model_final = KNeighborsClassifier(n_neighbors=best_k)     # here, we use the best_k
knn_model_final.fit(X_all, y_all)                              # KEY DIFFERENCE:  we use ALL the data!
print(f"Created + trained a 'final' knn classifier, with a (best) k of {best_k}")

Created + trained a 'final' knn classifier, with a (best) k of 7

In [36]:
#
# final predictive model (k-nearest-neighbor), with tuned k + ALL data incorporated
#

def predictive_model( Features, Model ):
    """ input: a list of birthday months and days
        output: the prediction of whether the birthday is above or below the mean (in integers)
    """
    our_features = np.asarray([Features])                 # extra brackets needed
    predicted_species = Model.predict(our_features)       # The model's prediction!
    predicted_species = int(round(predicted_species[0]))  # unpack the extra brackets
    return predicted_species
   
#
# Try it!
# 
# Features = eval(input("Enter new Features: "))
#

LoD = [[1., 1., 0., 29., 0.],
        [1., 1., 1., 0.9167, 1.],
        [3., 1., 23., 12., 2.],
        [2., 0., 17., 54., 2.],
        [3., 0., 42., 42., 2.]
]


# run on each one:
for Features in LoD:
    predicted_survival = predictive_model( Features, knn_model_final )  # pass in the model, too
    print(f"I predict {predicted_survival} from the features {Features}")

I predict 0 from the features [1.0, 1.0, 0.0, 29.0, 0.0]
I predict 1 from the features [1.0, 1.0, 1.0, 0.9167, 1.0]
I predict 0 from the features [3.0, 1.0, 23.0, 12.0, 2.0]
I predict 0 from the features [2.0, 0.0, 17.0, 54.0, 2.0]
I predict 0 from the features [3.0, 0.0, 42.0, 42.0, 2.0]

##### Within 42 different cv tests, the best k came out to 7 with a cv accuracy of 0.7323. This is without any feature weighting at all... Now, we will move on to 3 different feature weightings below.

In [37]:
# Testing out the importance of 'sex' first...

df_tidy['sex'] *= 100
# df_tidy['sex'] /= 100
df_tidy

      pclass  sex      age  sibsp  parch  survived
0          1    0  29.0000      0      0         1
1          1  100   0.9167      1      2         1
2          1    0   2.0000      1      2         0
3          1  100  30.0000      1      2         0
4          1    0  25.0000      1      2         0
5          1  100  48.0000      0      0         1
6          1    0  63.0000      1      0         1
7          1  100  39.0000      0      0         0
8          1    0  53.0000      2      0         1
9          1  100  71.0000      0      0         0
10         1  100  47.0000      1      0         0
11         1    0  18.0000      1      0         1
12         1    0  24.0000      0      0         1
13         1    0  26.0000      0      0         1
14         1  100  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245       3  100  51.0000      0      0         0
1246       3  100  18.0000      1      0         0
1247       3  100  21.0000      1      0         0
1248       3    0  47.0000      1      0         1
1252       3  100  28.5000      0      0         0
1253       3  100  21.0000      0      0         0
1254       3  100  27.0000      0      0         0
1256       3  100  36.0000      0      0         0
1257       3  100  27.0000      1      0         0
1258       3    0  15.0000      1      0         1
1259       3  100  45.5000      0      0         0
1262       3    0  14.5000      1      0         0
1264       3  100  26.5000      0      0         0
1265       3  100  27.0000      0      0         0
1266       3  100  29.0000      0      0         0

[1004 rows x 6 columns]

In [38]:
#
A = df_tidy.to_numpy()    # yields the underlying numpy array
print(A)

[[  1.       0.      29.       0.       0.       1.    ]
 [  1.     100.       0.9167   1.       2.       1.    ]
 [  1.       0.       2.       1.       2.       0.    ]
 ...
 [  3.     100.      26.5      0.       0.       0.    ]
 [  3.     100.      27.       0.       0.       0.    ]
 [  3.     100.      29.       0.       0.       0.    ]]

In [39]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[  1.       0.      29.       0.       0.       1.    ]
 [  1.     100.       0.9167   1.       2.       1.    ]
 [  1.       0.       2.       1.       2.       0.    ]
 ...
 [  3.     100.      26.5      0.       0.       0.    ]
 [  3.     100.      27.       0.       0.       0.    ]
 [  3.     100.      29.       0.       0.       0.    ]]

In [40]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1]  # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[  1.       0.      29.       0.       0.    ]
 [  1.     100.       0.9167   1.       2.    ]
 [  1.       0.       2.       1.       2.    ]
 ...
 [  3.     100.      26.5      0.       0.    ]
 [  3.     100.      27.       0.       0.    ]
 [  3.     100.      29.       0.       0.    ]]

In [41]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 0. 1. ... 0. 0. 1.]
The corresponding data rows are
 [[  3. 100.  16.   0.   0.]
 [  3. 100.  41.   0.   0.]
 [  3. 100.  29.   3.   1.]
 ...
 [  1. 100.  55.   1.   1.]
 [  3. 100.  21.   0.   0.]
 [  1. 100.  36.   0.   0.]]

In [42]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 1.]
X_test (first few rows): [[  1.   0.  45.   0.   1.]
 [  3. 100.  36.   0.   0.]
 [  3. 100.  22.   0.   0.]
 [  3.   0.  37.   0.   0.]
 [  1.   0.  35.   0.   0.]]

Data used for modeling... (training data: 803 rows)
y_train: [1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1.
 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0.
 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0.
 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1.
 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1.
 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0.
 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0.
 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 1.
 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0.
 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1.]
X_train (first few rows): [[ 1.  0. 15.  0.  1.]
 [ 2.  0. 14.  1.  0.]
 [ 1.  0. 62.  0.  0.]
 [ 1.  0. 58.  0.  1.]
 [ 3.  0. 17.  0.  1.]]

In [43]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.7248
k:  2  cv accuracy:  0.7559
k:  3  cv accuracy:  0.7646
k:  4  cv accuracy:  0.7658
k:  5  cv accuracy:  0.7721
k:  6  cv accuracy:  0.7596
k:  7  cv accuracy:  0.7759
k:  8  cv accuracy:  0.7671
k:  9  cv accuracy:  0.7696
k: 10  cv accuracy:  0.7634
k: 11  cv accuracy:  0.7646
k: 12  cv accuracy:  0.7546
k: 13  cv accuracy:  0.7671
k: 14  cv accuracy:  0.7571
k: 15  cv accuracy:  0.7634
k: 16  cv accuracy:  0.7646
k: 17  cv accuracy:  0.7646
k: 18  cv accuracy:  0.7584
k: 19  cv accuracy:  0.7609
k: 20  cv accuracy:  0.7559
k: 21  cv accuracy:  0.7621
k: 22  cv accuracy:  0.7609
k: 23  cv accuracy:  0.7646
k: 24  cv accuracy:  0.7621
k: 25  cv accuracy:  0.7621
k: 26  cv accuracy:  0.7634
k: 27  cv accuracy:  0.7609
k: 28  cv accuracy:  0.7634
k: 29  cv accuracy:  0.7609
k: 30  cv accuracy:  0.7609
k: 31  cv accuracy:  0.7609
k: 32  cv accuracy:  0.7609
k: 33  cv accuracy:  0.7609
k: 34  cv accuracy:  0.7621
k: 35  cv accuracy:  0.7746
k: 36  cv accuracy:  0.7721
k: 37  cv accuracy:  0.7721
k: 38  cv accuracy:  0.7721
k: 39  cv accuracy:  0.7721
k: 40  cv accuracy:  0.7721
k: 41  cv accuracy:  0.7721
best_k = 7   yields the highest average cv accuracy.

In [44]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 7

In [45]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1.
 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0.
 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 0. 0. 1. 1. 1. 0. 0. 1.]
Actual labels: [1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 1.]

Results on test set:  160 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            1 1
row   1 :            0 0
row   2 :            0 0
row   3 :            1 0              incorrect
row   4 :            1 1
row   5 :            0 0
row   6 :            0 0
row   7 :            1 1
row   8 :            0 0
row   9 :            1 1
row  10 :            0 0
row  11 :            0 1              incorrect
row  12 :            1 1
row  13 :            1 1
row  14 :            0 0
row  15 :            0 1              incorrect
row  16 :            1 1
row  17 :            0 0
row  18 :            0 0
row  19 :            0 0
row  20 :            1 1
row  21 :            1 1
row  22 :            1 0              incorrect
row  23 :            1 1
row  24 :            0 0
row  25 :            0 0
row  26 :            0 0
row  27 :            1 0              incorrect
row  28 :            0 0
row  29 :            0 0
row  30 :            0 0
row  31 :            0 0
row  32 :            1 0              incorrect
row  33 :            0 1              incorrect
row  34 :            1 0              incorrect
row  35 :            0 0
row  36 :            1 1
row  37 :            0 0
row  38 :            1 1
row  39 :            0 0
row  40 :            1 1
row  41 :            1 1
row  42 :            1 1
row  43 :            0 0
row  44 :            1 1
row  45 :            0 1              incorrect
row  46 :            1 1
row  47 :            1 0              incorrect
row  48 :            0 1              incorrect
row  49 :            0 1              incorrect
row  50 :            0 0
row  51 :            0 0
row  52 :            1 1
row  53 :            0 0
row  54 :            1 0              incorrect
row  55 :            0 1              incorrect
row  56 :            0 0
row  57 :            0 1              incorrect
row  58 :            0 0
row  59 :            1 1
row  60 :            1 1
row  61 :            1 1
row  62 :            1 1
row  63 :            0 0
row  64 :            1 1
row  65 :            0 0
row  66 :            1 1
row  67 :            1 1
row  68 :            0 0
row  69 :            0 0
row  70 :            0 0
row  71 :            0 0
row  72 :            1 1
row  73 :            0 0
row  74 :            0 0
row  75 :            0 0
row  76 :            0 0
row  77 :            1 0              incorrect
row  78 :            0 0
row  79 :            0 0
row  80 :            0 0
row  81 :            0 0
row  82 :            0 0
row  83 :            1 1
row  84 :            0 0
row  85 :            0 1              incorrect
row  86 :            1 1
row  87 :            1 1
row  88 :            0 0
row  89 :            0 0
row  90 :            0 0
row  91 :            0 0
row  92 :            1 1
row  93 :            0 0
row  94 :            0 0
row  95 :            0 0
row  96 :            0 1              incorrect
row  97 :            0 0
row  98 :            0 0
row  99 :            0 0
row 100 :            0 0
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 1              incorrect
row 104 :            0 0
row 105 :            1 1
row 106 :            0 0
row 107 :            1 1
row 108 :            0 0
row 109 :            0 0
row 110 :            0 1              incorrect
row 111 :            1 0              incorrect
row 112 :            1 1
row 113 :            0 0
row 114 :            0 1              incorrect
row 115 :            0 0
row 116 :            0 1              incorrect
row 117 :            0 0
row 118 :            0 0
row 119 :            0 1              incorrect
row 120 :            1 1
row 121 :            1 1
row 122 :            0 0
row 123 :            0 0
row 124 :            0 0
row 125 :            0 1              incorrect
row 126 :            0 0
row 127 :            1 1
row 128 :            1 0              incorrect
row 129 :            0 0
row 130 :            0 1              incorrect
row 131 :            1 1
row 132 :            1 1
row 133 :            0 0
row 134 :            1 1
row 135 :            1 0              incorrect
row 136 :            1 0              incorrect
row 137 :            0 0
row 138 :            1 1
row 139 :            0 0
row 140 :            1 1
row 141 :            1 0              incorrect
row 142 :            0 0
row 143 :            0 0
row 144 :            0 1              incorrect
row 145 :            0 0
row 146 :            1 0              incorrect
row 147 :            0 0
row 148 :            1 1
row 149 :            1 1
row 150 :            0 0
row 151 :            1 1
row 152 :            0 0
row 153 :            0 0
row 154 :            1 1
row 155 :            0 1              incorrect
row 156 :            0 0
row 157 :            0 1              incorrect
row 158 :            0 0
row 159 :            1 1
row 160 :            1 0              incorrect
row 161 :            0 1              incorrect
row 162 :            1 1
row 163 :            0 0
row 164 :            0 0
row 165 :            1 1
row 166 :            0 0
row 167 :            0 0
row 168 :            1 1
row 169 :            1 1
row 170 :            0 0
row 171 :            0 0
row 172 :            0 0
row 173 :            0 0
row 174 :            0 1              incorrect
row 175 :            0 0
row 176 :            1 1
row 177 :            0 0
row 178 :            0 0
row 179 :            0 0
row 180 :            1 1
row 181 :            0 0
row 182 :            0 1              incorrect
row 183 :            0 0
row 184 :            0 0
row 185 :            0 0
row 186 :            0 0
row 187 :            0 0
row 188 :            1 1
row 189 :            0 1              incorrect
row 190 :            0 0
row 191 :            1 1
row 192 :            0 0
row 193 :            0 0
row 194 :            0 0
row 195 :            1 1
row 196 :            1 1
row 197 :            1 0              incorrect
row 198 :            0 0
row 199 :            0 0
row 200 :            1 1

Correct: 160 out of 201

160

##### When 'sex' is heavily considered, it doesn't change the overall cv and test accuracy much... In fact, the best k was 7 with a cv accuracy of 0.7759. In the test, this test got 7 more correct than the test without any feature weighting... (160/201).

In [46]:
df_tidy['sex'] /= 100       # Reset the weightings
df_tidy

      pclass  sex      age  sibsp  parch  survived
0          1  0.0  29.0000      0      0         1
1          1  1.0   0.9167      1      2         1
2          1  0.0   2.0000      1      2         0
3          1  1.0  30.0000      1      2         0
4          1  0.0  25.0000      1      2         0
5          1  1.0  48.0000      0      0         1
6          1  0.0  63.0000      1      0         1
7          1  1.0  39.0000      0      0         0
8          1  0.0  53.0000      2      0         1
9          1  1.0  71.0000      0      0         0
10         1  1.0  47.0000      1      0         0
11         1  0.0  18.0000      1      0         1
12         1  0.0  24.0000      0      0         1
13         1  0.0  26.0000      0      0         1
14         1  1.0  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245       3  1.0  51.0000      0      0         0
1246       3  1.0  18.0000      1      0         0
1247       3  1.0  21.0000      1      0         0
1248       3  0.0  47.0000      1      0         1
1252       3  1.0  28.5000      0      0         0
1253       3  1.0  21.0000      0      0         0
1254       3  1.0  27.0000      0      0         0
1256       3  1.0  36.0000      0      0         0
1257       3  1.0  27.0000      1      0         0
1258       3  0.0  15.0000      1      0         1
1259       3  1.0  45.5000      0      0         0
1262       3  0.0  14.5000      1      0         0
1264       3  1.0  26.5000      0      0         0
1265       3  1.0  27.0000      0      0         0
1266       3  1.0  29.0000      0      0         0

[1004 rows x 6 columns]

In [47]:
df_tidy['age'] *= 100      # Try another feature weighting
df_tidy

      pclass  sex      age  sibsp  parch  survived
0          1  0.0  2900.00      0      0         1
1          1  1.0    91.67      1      2         1
2          1  0.0   200.00      1      2         0
3          1  1.0  3000.00      1      2         0
4          1  0.0  2500.00      1      2         0
5          1  1.0  4800.00      0      0         1
6          1  0.0  6300.00      1      0         1
7          1  1.0  3900.00      0      0         0
8          1  0.0  5300.00      2      0         1
9          1  1.0  7100.00      0      0         0
10         1  1.0  4700.00      1      0         0
11         1  0.0  1800.00      1      0         1
12         1  0.0  2400.00      0      0         1
13         1  0.0  2600.00      0      0         1
14         1  1.0  8000.00      0      0         1
...      ...  ...      ...    ...    ...       ...
1245       3  1.0  5100.00      0      0         0
1246       3  1.0  1800.00      1      0         0
1247       3  1.0  2100.00      1      0         0
1248       3  0.0  4700.00      1      0         1
1252       3  1.0  2850.00      0      0         0
1253       3  1.0  2100.00      0      0         0
1254       3  1.0  2700.00      0      0         0
1256       3  1.0  3600.00      0      0         0
1257       3  1.0  2700.00      1      0         0
1258       3  0.0  1500.00      1      0         1
1259       3  1.0  4550.00      0      0         0
1262       3  0.0  1450.00      1      0         0
1264       3  1.0  2650.00      0      0         0
1265       3  1.0  2700.00      0      0         0
1266       3  1.0  2900.00      0      0         0

[1004 rows x 6 columns]

In [48]:
#
A = df_tidy.to_numpy()    # yields the underlying numpy array
print(A)

[[1.000e+00 0.000e+00 2.900e+03 0.000e+00 0.000e+00 1.000e+00]
 [1.000e+00 1.000e+00 9.167e+01 1.000e+00 2.000e+00 1.000e+00]
 [1.000e+00 0.000e+00 2.000e+02 1.000e+00 2.000e+00 0.000e+00]
 ...
 [3.000e+00 1.000e+00 2.650e+03 0.000e+00 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.700e+03 0.000e+00 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.900e+03 0.000e+00 0.000e+00 0.000e+00]]

In [49]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[1.000e+00 0.000e+00 2.900e+03 0.000e+00 0.000e+00 1.000e+00]
 [1.000e+00 1.000e+00 9.167e+01 1.000e+00 2.000e+00 1.000e+00]
 [1.000e+00 0.000e+00 2.000e+02 1.000e+00 2.000e+00 0.000e+00]
 ...
 [3.000e+00 1.000e+00 2.650e+03 0.000e+00 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.700e+03 0.000e+00 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.900e+03 0.000e+00 0.000e+00 0.000e+00]]

In [50]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1]  # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[1.000e+00 0.000e+00 2.900e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.000e+00 9.167e+01 1.000e+00 2.000e+00]
 [1.000e+00 0.000e+00 2.000e+02 1.000e+00 2.000e+00]
 ...
 [3.000e+00 1.000e+00 2.650e+03 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.700e+03 0.000e+00 0.000e+00]
 [3.000e+00 1.000e+00 2.900e+03 0.000e+00 0.000e+00]]

In [51]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [1. 1. 0. ... 0. 0. 1.]
The corresponding data rows are
 [[1.0e+00 1.0e+00 2.7e+03 0.0e+00 0.0e+00]
 [1.0e+00 1.0e+00 6.0e+02 0.0e+00 2.0e+00]
 [2.0e+00 1.0e+00 3.9e+03 0.0e+00 0.0e+00]
 ...
 [3.0e+00 1.0e+00 1.9e+03 0.0e+00 0.0e+00]
 [1.0e+00 1.0e+00 1.9e+03 1.0e+00 0.0e+00]
 [3.0e+00 1.0e+00 2.5e+03 0.0e+00 0.0e+00]]

In [52]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1.
 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1.
 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 1. 1. 1. 0. 0. 0. 1.]
X_test (first few rows): [[3.0e+00 0.0e+00 4.0e+02 0.0e+00 2.0e+00]
 [3.0e+00 1.0e+00 1.7e+03 0.0e+00 0.0e+00]
 [3.0e+00 1.0e+00 3.9e+03 0.0e+00 0.0e+00]
 [3.0e+00 0.0e+00 2.2e+03 0.0e+00 0.0e+00]
 [1.0e+00 1.0e+00 4.7e+03 0.0e+00 0.0e+00]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1.
 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0.
 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0.
 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0.
 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 1.
 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0.
 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1.
 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1.
 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0.
 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1.
 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1.
 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0.
 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0.
 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0.
 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1.]
X_train (first few rows): [[3.0e+00 1.0e+00 2.0e+03 0.0e+00 0.0e+00]
 [3.0e+00 1.0e+00 4.0e+02 4.0e+00 1.0e+00]
 [3.0e+00 0.0e+00 2.6e+03 0.0e+00 0.0e+00]
 [3.0e+00 1.0e+00 1.6e+03 0.0e+00 0.0e+00]
 [3.0e+00 1.0e+00 2.3e+03 0.0e+00 0.0e+00]]

In [53]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6837
k:  2  cv accuracy:  0.6575
k:  3  cv accuracy:  0.6625
k:  4  cv accuracy:  0.6500
k:  5  cv accuracy:  0.6475
k:  6  cv accuracy:  0.6525
k:  7  cv accuracy:  0.6401
k:  8  cv accuracy:  0.6351
k:  9  cv accuracy:  0.6314
k: 10  cv accuracy:  0.6414
k: 11  cv accuracy:  0.6202
k: 12  cv accuracy:  0.6351
k: 13  cv accuracy:  0.6264
k: 14  cv accuracy:  0.6301
k: 15  cv accuracy:  0.6214
k: 16  cv accuracy:  0.6314
k: 17  cv accuracy:  0.6214
k: 18  cv accuracy:  0.6214
k: 19  cv accuracy:  0.6127
k: 20  cv accuracy:  0.6326
k: 21  cv accuracy:  0.6264
k: 22  cv accuracy:  0.6289
k: 23  cv accuracy:  0.6277
k: 24  cv accuracy:  0.6214
k: 25  cv accuracy:  0.6239
k: 26  cv accuracy:  0.6202
k: 27  cv accuracy:  0.6215
k: 28  cv accuracy:  0.6264
k: 29  cv accuracy:  0.6264
k: 30  cv accuracy:  0.6339
k: 31  cv accuracy:  0.6451
k: 32  cv accuracy:  0.6401
k: 33  cv accuracy:  0.6376
k: 34  cv accuracy:  0.6252
k: 35  cv accuracy:  0.6252
k: 36  cv accuracy:  0.6239
k: 37  cv accuracy:  0.6239
k: 38  cv accuracy:  0.6214
k: 39  cv accuracy:  0.6189
k: 40  cv accuracy:  0.6289
k: 41  cv accuracy:  0.6252
best_k = 1   yields the highest average cv accuracy.

In [54]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 1

In [55]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 1. 1. 1. 0. 0. 1. 0.]
Actual labels: [1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1.
 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1.
 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 1. 1. 1. 0. 0. 0. 1.]

Results on test set:  125 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            1 1
row   1 :            0 0
row   2 :            0 0
row   3 :            1 1
row   4 :            0 0
row   5 :            1 1
row   6 :            1 1
row   7 :            0 0
row   8 :            1 0              incorrect
row   9 :            1 1
row  10 :            0 1              incorrect
row  11 :            0 1              incorrect
row  12 :            0 0
row  13 :            1 1
row  14 :            0 1              incorrect
row  15 :            0 1              incorrect
row  16 :            1 1
row  17 :            1 1
row  18 :            0 1              incorrect
row  19 :            0 0
row  20 :            0 0
row  21 :            1 0              incorrect
row  22 :            0 1              incorrect
row  23 :            0 1              incorrect
row  24 :            1 0              incorrect
row  25 :            1 1
row  26 :            1 1
row  27 :            1 1
row  28 :            0 1              incorrect
row  29 :            1 1
row  30 :            0 0
row  31 :            0 1              incorrect
row  32 :            0 1              incorrect
row  33 :            0 1              incorrect
row  34 :            0 1              incorrect
row  35 :            1 1
row  36 :            1 1
row  37 :            1 1
row  38 :            0 1              incorrect
row  39 :            1 1
row  40 :            0 1              incorrect
row  41 :            0 0
row  42 :            0 1              incorrect
row  43 :            0 0
row  44 :            0 0
row  45 :            1 1
row  46 :            0 0
row  47 :            0 0
row  48 :            0 0
row  49 :            1 0              incorrect
row  50 :            0 0
row  51 :            1 0              incorrect
row  52 :            0 1              incorrect
row  53 :            0 1              incorrect
row  54 :            0 1              incorrect
row  55 :            1 0              incorrect
row  56 :            0 0
row  57 :            1 0              incorrect
row  58 :            0 1              incorrect
row  59 :            0 0
row  60 :            0 0
row  61 :            0 0
row  62 :            0 0
row  63 :            1 0              incorrect
row  64 :            0 0
row  65 :            0 1              incorrect
row  66 :            0 1              incorrect
row  67 :            0 0
row  68 :            1 1
row  69 :            0 1              incorrect
row  70 :            0 1              incorrect
row  71 :            0 1              incorrect
row  72 :            0 0
row  73 :            0 0
row  74 :            0 0
row  75 :            1 0              incorrect
row  76 :            1 0              incorrect
row  77 :            1 1
row  78 :            1 1
row  79 :            1 1
row  80 :            0 0
row  81 :            1 1
row  82 :            1 0              incorrect
row  83 :            0 1              incorrect
row  84 :            0 1              incorrect
row  85 :            0 1              incorrect
row  86 :            0 0
row  87 :            0 1              incorrect
row  88 :            1 0              incorrect
row  89 :            1 0              incorrect
row  90 :            0 0
row  91 :            0 0
row  92 :            0 1              incorrect
row  93 :            0 1              incorrect
row  94 :            0 0
row  95 :            0 0
row  96 :            1 1
row  97 :            1 0              incorrect
row  98 :            1 0              incorrect
row  99 :            0 1              incorrect
row 100 :            0 0
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 0
row 104 :            0 0
row 105 :            1 1
row 106 :            0 0
row 107 :            0 0
row 108 :            1 1
row 109 :            0 0
row 110 :            1 1
row 111 :            1 1
row 112 :            1 0              incorrect
row 113 :            0 0
row 114 :            0 0
row 115 :            0 0
row 116 :            0 0
row 117 :            0 0
row 118 :            1 1
row 119 :            0 1              incorrect
row 120 :            0 0
row 121 :            1 1
row 122 :            0 0
row 123 :            0 1              incorrect
row 124 :            1 0              incorrect
row 125 :            0 0
row 126 :            0 0
row 127 :            0 0
row 128 :            0 0
row 129 :            0 0
row 130 :            0 1              incorrect
row 131 :            0 0
row 132 :            1 1
row 133 :            0 0
row 134 :            1 0              incorrect
row 135 :            0 0
row 136 :            0 0
row 137 :            1 1
row 138 :            1 0              incorrect
row 139 :            1 1
row 140 :            1 0              incorrect
row 141 :            0 1              incorrect
row 142 :            0 0
row 143 :            0 0
row 144 :            0 0
row 145 :            0 1              incorrect
row 146 :            0 0
row 147 :            0 0
row 148 :            0 0
row 149 :            1 1
row 150 :            1 0              incorrect
row 151 :            0 0
row 152 :            1 0              incorrect
row 153 :            0 0
row 154 :            0 1              incorrect
row 155 :            0 0
row 156 :            0 1              incorrect
row 157 :            1 0              incorrect
row 158 :            0 0
row 159 :            1 0              incorrect
row 160 :            1 1
row 161 :            0 0
row 162 :            1 1
row 163 :            0 1              incorrect
row 164 :            1 1
row 165 :            1 1
row 166 :            0 0
row 167 :            0 0
row 168 :            1 0              incorrect
row 169 :            0 0
row 170 :            1 1
row 171 :            0 0
row 172 :            0 1              incorrect
row 173 :            0 0
row 174 :            0 1              incorrect
row 175 :            1 1
row 176 :            0 0
row 177 :            0 0
row 178 :            0 0
row 179 :            1 1
row 180 :            0 0
row 181 :            0 0
row 182 :            1 0              incorrect
row 183 :            0 0
row 184 :            0 1              incorrect
row 185 :            0 0
row 186 :            0 0
row 187 :            0 1              incorrect
row 188 :            1 0              incorrect
row 189 :            0 0
row 190 :            0 1              incorrect
row 191 :            0 0
row 192 :            1 0              incorrect
row 193 :            0 1              incorrect
row 194 :            1 1
row 195 :            1 1
row 196 :            1 1
row 197 :            0 0
row 198 :            0 0
row 199 :            1 0              incorrect
row 200 :            0 1              incorrect

Correct: 125 out of 201

125

##### When 'age' is heavily considered, it actually drops the overall cv and testing accuracies. The best k is 1 with a cv accuracy of 0.6837. This is a medium drop from the test with no feature weightings. The testing accuracy came out to be 125/201...

##### We can see that considering gender more heavily leads to a higher cv and test accuracy rather than age...

In [56]:
df_tidy['age'] /= 100      # Reset!
df_tidy

      pclass  sex      age  sibsp  parch  survived
0          1  0.0  29.0000      0      0         1
1          1  1.0   0.9167      1      2         1
2          1  0.0   2.0000      1      2         0
3          1  1.0  30.0000      1      2         0
4          1  0.0  25.0000      1      2         0
5          1  1.0  48.0000      0      0         1
6          1  0.0  63.0000      1      0         1
7          1  1.0  39.0000      0      0         0
8          1  0.0  53.0000      2      0         1
9          1  1.0  71.0000      0      0         0
10         1  1.0  47.0000      1      0         0
11         1  0.0  18.0000      1      0         1
12         1  0.0  24.0000      0      0         1
13         1  0.0  26.0000      0      0         1
14         1  1.0  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245       3  1.0  51.0000      0      0         0
1246       3  1.0  18.0000      1      0         0
1247       3  1.0  21.0000      1      0         0
1248       3  0.0  47.0000      1      0         1
1252       3  1.0  28.5000      0      0         0
1253       3  1.0  21.0000      0      0         0
1254       3  1.0  27.0000      0      0         0
1256       3  1.0  36.0000      0      0         0
1257       3  1.0  27.0000      1      0         0
1258       3  0.0  15.0000      1      0         1
1259       3  1.0  45.5000      0      0         0
1262       3  0.0  14.5000      1      0         0
1264       3  1.0  26.5000      0      0         0
1265       3  1.0  27.0000      0      0         0
1266       3  1.0  29.0000      0      0         0

[1004 rows x 6 columns]

In [57]:
df_tidy['pclass'] *= 100      # Try another feature weighting
df_tidy

      pclass  sex      age  sibsp  parch  survived
0        100  0.0  29.0000      0      0         1
1        100  1.0   0.9167      1      2         1
2        100  0.0   2.0000      1      2         0
3        100  1.0  30.0000      1      2         0
4        100  0.0  25.0000      1      2         0
5        100  1.0  48.0000      0      0         1
6        100  0.0  63.0000      1      0         1
7        100  1.0  39.0000      0      0         0
8        100  0.0  53.0000      2      0         1
9        100  1.0  71.0000      0      0         0
10       100  1.0  47.0000      1      0         0
11       100  0.0  18.0000      1      0         1
12       100  0.0  24.0000      0      0         1
13       100  0.0  26.0000      0      0         1
14       100  1.0  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245     300  1.0  51.0000      0      0         0
1246     300  1.0  18.0000      1      0         0
1247     300  1.0  21.0000      1      0         0
1248     300  0.0  47.0000      1      0         1
1252     300  1.0  28.5000      0      0         0
1253     300  1.0  21.0000      0      0         0
1254     300  1.0  27.0000      0      0         0
1256     300  1.0  36.0000      0      0         0
1257     300  1.0  27.0000      1      0         0
1258     300  0.0  15.0000      1      0         1
1259     300  1.0  45.5000      0      0         0
1262     300  0.0  14.5000      1      0         0
1264     300  1.0  26.5000      0      0         0
1265     300  1.0  27.0000      0      0         0
1266     300  1.0  29.0000      0      0         0

[1004 rows x 6 columns]

In [58]:
#
A = df_tidy.to_numpy()    # yields the underlying numpy array
print(A)

[[100.       0.      29.       0.       0.       1.    ]
 [100.       1.       0.9167   1.       2.       1.    ]
 [100.       0.       2.       1.       2.       0.    ]
 ...
 [300.       1.      26.5      0.       0.       0.    ]
 [300.       1.      27.       0.       0.       0.    ]
 [300.       1.      29.       0.       0.       0.    ]]

In [59]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[100.       0.      29.       0.       0.       1.    ]
 [100.       1.       0.9167   1.       2.       1.    ]
 [100.       0.       2.       1.       2.       0.    ]
 ...
 [300.       1.      26.5      0.       0.       0.    ]
 [300.       1.      27.       0.       0.       0.    ]
 [300.       1.      29.       0.       0.       0.    ]]

In [60]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[100.       0.      29.       0.       0.    ]
 [100.       1.       0.9167   1.       2.    ]
 [100.       0.       2.       1.       2.    ]
 ...
 [300.       1.      26.5      0.       0.    ]
 [300.       1.      27.       0.       0.    ]
 [300.       1.      29.       0.       0.    ]]

In [61]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 1. 0. ... 0. 0. 1.]
The corresponding data rows are
 [[200.    1.   50.    0.    0. ]
 [300.    0.   19.    0.    0. ]
 [300.    1.   30.5   0.    0. ]
 ...
 [300.    0.   11.    4.    2. ]
 [100.    0.    2.    1.    2. ]
 [100.    0.   15.    0.    1. ]]

In [62]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1.
 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0.
 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1.
 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 1. 0. 0. 1. 0. 0.]
X_test (first few rows): [[300.   1.  25.   0.   0.]
 [300.   0.   5.   2.   1.]
 [100.   1.  18.   1.   0.]
 [100.   0.  58.   0.   1.]
 [200.   1.  47.   0.   0.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0.
 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1.
 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1.
 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0.
 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1.
 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1.
 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.
 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0.
 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1.]
X_train (first few rows): [[200.   0.  24.   0.   0.]
 [100.   0.  25.   1.   2.]
 [200.   0.  41.   0.   1.]
 [100.   1.  49.   0.   0.]
 [100.   1.  45.   0.   0.]]

In [63]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6923
k:  2  cv accuracy:  0.7048
k:  3  cv accuracy:  0.7222
k:  4  cv accuracy:  0.7148
k:  5  cv accuracy:  0.7024
k:  6  cv accuracy:  0.7024
k:  7  cv accuracy:  0.7298
k:  8  cv accuracy:  0.7198
k:  9  cv accuracy:  0.7285
k: 10  cv accuracy:  0.7060
k: 11  cv accuracy:  0.7235
k: 12  cv accuracy:  0.7110
k: 13  cv accuracy:  0.7135
k: 14  cv accuracy:  0.7061
k: 15  cv accuracy:  0.7148
k: 16  cv accuracy:  0.6924
k: 17  cv accuracy:  0.7023
k: 18  cv accuracy:  0.6849
k: 19  cv accuracy:  0.6874
k: 20  cv accuracy:  0.6762
k: 21  cv accuracy:  0.6849
k: 22  cv accuracy:  0.6762
k: 23  cv accuracy:  0.6811
k: 24  cv accuracy:  0.6787
k: 25  cv accuracy:  0.6737
k: 26  cv accuracy:  0.6787
k: 27  cv accuracy:  0.6662
k: 28  cv accuracy:  0.6637
k: 29  cv accuracy:  0.6737
k: 30  cv accuracy:  0.6687
k: 31  cv accuracy:  0.6736
k: 32  cv accuracy:  0.6712
k: 33  cv accuracy:  0.6749
k: 34  cv accuracy:  0.6737
k: 35  cv accuracy:  0.6787
k: 36  cv accuracy:  0.6799
k: 37  cv accuracy:  0.6836
k: 38  cv accuracy:  0.6836
k: 39  cv accuracy:  0.6861
k: 40  cv accuracy:  0.6874
k: 41  cv accuracy:  0.6861
best_k = 7   yields the highest average cv accuracy.

In [64]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 7

In [65]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 1. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0.
 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0.
 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0.
 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 0.]
Actual labels: [1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1.
 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0.
 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1.
 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 1. 0. 0. 1. 0. 0.]

Results on test set:  154 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            0 1              incorrect
row   1 :            1 1
row   2 :            1 0              incorrect
row   3 :            1 1
row   4 :            1 0              incorrect
row   5 :            0 1              incorrect
row   6 :            0 0
row   7 :            1 0              incorrect
row   8 :            0 0
row   9 :            1 1
row  10 :            1 1
row  11 :            0 0
row  12 :            0 1              incorrect
row  13 :            0 0
row  14 :            0 0
row  15 :            0 0
row  16 :            0 0
row  17 :            0 0
row  18 :            1 1
row  19 :            1 0              incorrect
row  20 :            0 0
row  21 :            0 0
row  22 :            0 0
row  23 :            1 1
row  24 :            1 1
row  25 :            1 1
row  26 :            1 1
row  27 :            0 0
row  28 :            0 0
row  29 :            0 0
row  30 :            1 1
row  31 :            1 1
row  32 :            0 1              incorrect
row  33 :            1 0              incorrect
row  34 :            0 1              incorrect
row  35 :            1 1
row  36 :            0 0
row  37 :            1 1
row  38 :            0 0
row  39 :            0 0
row  40 :            0 1              incorrect
row  41 :            1 1
row  42 :            0 0
row  43 :            0 1              incorrect
row  44 :            0 0
row  45 :            1 1
row  46 :            0 0
row  47 :            1 1
row  48 :            0 0
row  49 :            0 0
row  50 :            0 0
row  51 :            1 1
row  52 :            0 0
row  53 :            1 0              incorrect
row  54 :            0 0
row  55 :            1 0              incorrect
row  56 :            1 0              incorrect
row  57 :            1 0              incorrect
row  58 :            1 1
row  59 :            1 0              incorrect
row  60 :            0 0
row  61 :            0 1              incorrect
row  62 :            0 0
row  63 :            0 0
row  64 :            0 1              incorrect
row  65 :            1 0              incorrect
row  66 :            0 0
row  67 :            0 0
row  68 :            0 0
row  69 :            0 0
row  70 :            0 0
row  71 :            1 1
row  72 :            0 1              incorrect
row  73 :            0 0
row  74 :            0 1              incorrect
row  75 :            0 0
row  76 :            0 0
row  77 :            1 1
row  78 :            1 0              incorrect
row  79 :            0 0
row  80 :            0 0
row  81 :            1 0              incorrect
row  82 :            0 0
row  83 :            0 0
row  84 :            0 0
row  85 :            0 0
row  86 :            1 0              incorrect
row  87 :            0 0
row  88 :            0 0
row  89 :            0 1              incorrect
row  90 :            0 0
row  91 :            0 0
row  92 :            1 0              incorrect
row  93 :            0 1              incorrect
row  94 :            0 0
row  95 :            0 0
row  96 :            1 1
row  97 :            0 0
row  98 :            0 0
row  99 :            0 1              incorrect
row 100 :            0 0
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 0
row 104 :            1 0              incorrect
row 105 :            0 1              incorrect
row 106 :            0 0
row 107 :            0 0
row 108 :            0 0
row 109 :            1 1
row 110 :            0 1              incorrect
row 111 :            0 0
row 112 :            0 1              incorrect
row 113 :            1 1
row 114 :            1 1
row 115 :            0 0
row 116 :            0 0
row 117 :            1 0              incorrect
row 118 :            1 1
row 119 :            0 0
row 120 :            0 0
row 121 :            1 1
row 122 :            1 1
row 123 :            1 1
row 124 :            1 1
row 125 :            0 1              incorrect
row 126 :            0 0
row 127 :            0 0
row 128 :            0 0
row 129 :            0 0
row 130 :            0 0
row 131 :            1 1
row 132 :            0 0
row 133 :            0 0
row 134 :            0 0
row 135 :            0 0
row 136 :            1 1
row 137 :            0 0
row 138 :            0 0
row 139 :            0 1              incorrect
row 140 :            0 0
row 141 :            1 1
row 142 :            1 1
row 143 :            0 0
row 144 :            0 1              incorrect
row 145 :            1 1
row 146 :            0 0
row 147 :            0 1              incorrect
row 148 :            0 0
row 149 :            1 0              incorrect
row 150 :            0 0
row 151 :            1 1
row 152 :            0 0
row 153 :            0 0
row 154 :            0 0
row 155 :            1 1
row 156 :            0 0
row 157 :            0 0
row 158 :            0 0
row 159 :            1 1
row 160 :            0 0
row 161 :            1 1
row 162 :            0 0
row 163 :            1 0              incorrect
row 164 :            0 1              incorrect
row 165 :            1 1
row 166 :            0 1              incorrect
row 167 :            0 1              incorrect
row 168 :            0 0
row 169 :            1 1
row 170 :            1 1
row 171 :            0 0
row 172 :            0 0
row 173 :            0 1              incorrect
row 174 :            1 1
row 175 :            1 1
row 176 :            0 0
row 177 :            1 1
row 178 :            1 1
row 179 :            1 1
row 180 :            1 1
row 181 :            1 1
row 182 :            1 1
row 183 :            0 0
row 184 :            0 0
row 185 :            0 0
row 186 :            0 0
row 187 :            1 0              incorrect
row 188 :            0 0
row 189 :            1 1
row 190 :            0 0
row 191 :            0 0
row 192 :            0 0
row 193 :            1 1
row 194 :            0 0
row 195 :            1 1
row 196 :            0 0
row 197 :            0 0
row 198 :            0 1              incorrect
row 199 :            0 0
row 200 :            0 0

Correct: 154 out of 201

154

##### After increasing the feature weight for 'pclass' we can see that the best k is 7 with a cv accuracy of 0.7298... The testing accuracy is 154/201. This shows that having no feature weight at all yields the highest cv accuracy and testing accuracy.

### Now, we will use a weight of 0 to test whether 'pclass' or 'age' is more important when determining Titanic-survival...

In [66]:
df_tidy['pclass'] /= 100      # Reset!
df_tidy

      pclass  sex      age  sibsp  parch  survived
0        1.0  0.0  29.0000      0      0         1
1        1.0  1.0   0.9167      1      2         1
2        1.0  0.0   2.0000      1      2         0
3        1.0  1.0  30.0000      1      2         0
4        1.0  0.0  25.0000      1      2         0
5        1.0  1.0  48.0000      0      0         1
6        1.0  0.0  63.0000      1      0         1
7        1.0  1.0  39.0000      0      0         0
8        1.0  0.0  53.0000      2      0         1
9        1.0  1.0  71.0000      0      0         0
10       1.0  1.0  47.0000      1      0         0
11       1.0  0.0  18.0000      1      0         1
12       1.0  0.0  24.0000      0      0         1
13       1.0  0.0  26.0000      0      0         1
14       1.0  1.0  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245     3.0  1.0  51.0000      0      0         0
1246     3.0  1.0  18.0000      1      0         0
1247     3.0  1.0  21.0000      1      0         0
1248     3.0  0.0  47.0000      1      0         1
1252     3.0  1.0  28.5000      0      0         0
1253     3.0  1.0  21.0000      0      0         0
1254     3.0  1.0  27.0000      0      0         0
1256     3.0  1.0  36.0000      0      0         0
1257     3.0  1.0  27.0000      1      0         0
1258     3.0  0.0  15.0000      1      0         1
1259     3.0  1.0  45.5000      0      0         0
1262     3.0  0.0  14.5000      1      0         0
1264     3.0  1.0  26.5000      0      0         0
1265     3.0  1.0  27.0000      0      0         0
1266     3.0  1.0  29.0000      0      0         0

[1004 rows x 6 columns]

In [67]:
df_tidy['pclass'] *= 0      # Try another feature weighting
df_tidy

      pclass  sex      age  sibsp  parch  survived
0        0.0  0.0  29.0000      0      0         1
1        0.0  1.0   0.9167      1      2         1
2        0.0  0.0   2.0000      1      2         0
3        0.0  1.0  30.0000      1      2         0
4        0.0  0.0  25.0000      1      2         0
5        0.0  1.0  48.0000      0      0         1
6        0.0  0.0  63.0000      1      0         1
7        0.0  1.0  39.0000      0      0         0
8        0.0  0.0  53.0000      2      0         1
9        0.0  1.0  71.0000      0      0         0
10       0.0  1.0  47.0000      1      0         0
11       0.0  0.0  18.0000      1      0         1
12       0.0  0.0  24.0000      0      0         1
13       0.0  0.0  26.0000      0      0         1
14       0.0  1.0  80.0000      0      0         1
...      ...  ...      ...    ...    ...       ...
1245     0.0  1.0  51.0000      0      0         0
1246     0.0  1.0  18.0000      1      0         0
1247     0.0  1.0  21.0000      1      0         0
1248     0.0  0.0  47.0000      1      0         1
1252     0.0  1.0  28.5000      0      0         0
1253     0.0  1.0  21.0000      0      0         0
1254     0.0  1.0  27.0000      0      0         0
1256     0.0  1.0  36.0000      0      0         0
1257     0.0  1.0  27.0000      1      0         0
1258     0.0  0.0  15.0000      1      0         1
1259     0.0  1.0  45.5000      0      0         0
1262     0.0  0.0  14.5000      1      0         0
1264     0.0  1.0  26.5000      0      0         0
1265     0.0  1.0  27.0000      0      0         0
1266     0.0  1.0  29.0000      0      0         0

[1004 rows x 6 columns]

In [68]:
#
A = df_tidy.to_numpy()    # yields the underlying numpy array
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [69]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [70]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1]  # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 0.      0.     29.      0.      0.    ]
 [ 0.      1.      0.9167  1.      2.    ]
 [ 0.      0.      2.      1.      2.    ]
 ...
 [ 0.      1.     26.5     0.      0.    ]
 [ 0.      1.     27.      0.      0.    ]
 [ 0.      1.     29.      0.      0.    ]]

In [71]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 1. 0. ... 0. 0. 1.]
The corresponding data rows are
 [[ 0.   1.  11.   5.   2. ]
 [ 0.   0.  24.   0.   2. ]
 [ 0.   1.  20.5  0.   0. ]
 ...
 [ 0.   1.  47.   0.   0. ]
 [ 0.   1.  18.   0.   0. ]
 [ 0.   0.  36.   0.   2. ]]

In [72]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1.
 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 1. 0.]
X_test (first few rows): [[ 0.  1. 29.  0.  0.]
 [ 0.  0. 35.  1.  0.]
 [ 0.  0. 25.  1.  1.]
 [ 0.  1. 23.  0.  0.]
 [ 0.  1. 34.  1.  1.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1.
 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0.
 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0.
 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1.
 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1.
 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0.
 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0.
 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1.
 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0.
 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1.
 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1.
 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1.
 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1.
 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1.]
X_train (first few rows): [[ 0.   1.  47.   0.   0. ]
 [ 0.   0.  30.   0.   0. ]
 [ 0.   1.  45.   0.   0. ]
 [ 0.   1.  27.   0.   0. ]
 [ 0.   1.  38.5  0.   0. ]]

In [73]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6487
k:  2  cv accuracy:  0.6550
k:  3  cv accuracy:  0.6861
k:  4  cv accuracy:  0.6762
k:  5  cv accuracy:  0.7098
k:  6  cv accuracy:  0.6936
k:  7  cv accuracy:  0.6999
k:  8  cv accuracy:  0.6899
k:  9  cv accuracy:  0.7011
k: 10  cv accuracy:  0.6787
k: 11  cv accuracy:  0.7048
k: 12  cv accuracy:  0.6800
k: 13  cv accuracy:  0.6949
k: 14  cv accuracy:  0.6687
k: 15  cv accuracy:  0.6750
k: 16  cv accuracy:  0.6612
k: 17  cv accuracy:  0.6724
k: 18  cv accuracy:  0.6637
k: 19  cv accuracy:  0.6675
k: 20  cv accuracy:  0.6675
k: 21  cv accuracy:  0.6675
k: 22  cv accuracy:  0.6563
k: 23  cv accuracy:  0.6612
k: 24  cv accuracy:  0.6364
k: 25  cv accuracy:  0.6488
k: 26  cv accuracy:  0.6301
k: 27  cv accuracy:  0.6364
k: 28  cv accuracy:  0.6214
k: 29  cv accuracy:  0.6314
k: 30  cv accuracy:  0.6202
k: 31  cv accuracy:  0.6102
k: 32  cv accuracy:  0.6139
k: 33  cv accuracy:  0.6251
k: 34  cv accuracy:  0.6201
k: 35  cv accuracy:  0.6189
k: 36  cv accuracy:  0.6177
k: 37  cv accuracy:  0.6164
k: 38  cv accuracy:  0.6077
k: 39  cv accuracy:  0.6015
k: 40  cv accuracy:  0.6002
k: 41  cv accuracy:  0.6114
best_k = 5   yields the highest average cv accuracy.

In [74]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 5

In [75]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1.
 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1.
 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 0. 0. 0. 0. 0. 1. 1.]
Actual labels: [0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1.
 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 1. 0.]

Results on test set:  143 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            0 0
row   1 :            1 1
row   2 :            0 1              incorrect
row   3 :            0 0
row   4 :            0 0
row   5 :            1 0              incorrect
row   6 :            0 0
row   7 :            0 0
row   8 :            0 1              incorrect
row   9 :            0 0
row  10 :            0 0
row  11 :            0 0
row  12 :            0 0
row  13 :            0 0
row  14 :            1 0              incorrect
row  15 :            1 0              incorrect
row  16 :            0 0
row  17 :            0 0
row  18 :            0 0
row  19 :            0 1              incorrect
row  20 :            0 1              incorrect
row  21 :            0 0
row  22 :            0 0
row  23 :            1 0              incorrect
row  24 :            1 1
row  25 :            0 0
row  26 :            1 0              incorrect
row  27 :            0 0
row  28 :            0 0
row  29 :            1 1
row  30 :            1 1
row  31 :            1 1
row  32 :            1 1
row  33 :            0 0
row  34 :            0 0
row  35 :            1 1
row  36 :            0 0
row  37 :            0 0
row  38 :            1 0              incorrect
row  39 :            1 1
row  40 :            0 0
row  41 :            0 1              incorrect
row  42 :            1 1
row  43 :            0 1              incorrect
row  44 :            0 0
row  45 :            0 0
row  46 :            1 0              incorrect
row  47 :            1 0              incorrect
row  48 :            1 0              incorrect
row  49 :            1 0              incorrect
row  50 :            0 0
row  51 :            1 0              incorrect
row  52 :            0 0
row  53 :            1 1
row  54 :            0 0
row  55 :            1 0              incorrect
row  56 :            0 0
row  57 :            0 0
row  58 :            0 0
row  59 :            1 0              incorrect
row  60 :            1 0              incorrect
row  61 :            0 0
row  62 :            0 0
row  63 :            1 1
row  64 :            1 0              incorrect
row  65 :            0 1              incorrect
row  66 :            0 1              incorrect
row  67 :            1 1
row  68 :            1 0              incorrect
row  69 :            0 1              incorrect
row  70 :            0 0
row  71 :            1 1
row  72 :            0 0
row  73 :            0 1              incorrect
row  74 :            0 1              incorrect
row  75 :            1 0              incorrect
row  76 :            1 1
row  77 :            0 0
row  78 :            0 1              incorrect
row  79 :            0 0
row  80 :            0 0
row  81 :            1 0              incorrect
row  82 :            1 1
row  83 :            0 0
row  84 :            0 0
row  85 :            0 1              incorrect
row  86 :            1 1
row  87 :            0 0
row  88 :            1 1
row  89 :            0 0
row  90 :            0 0
row  91 :            1 1
row  92 :            0 1              incorrect
row  93 :            1 1
row  94 :            0 1              incorrect
row  95 :            1 0              incorrect
row  96 :            0 0
row  97 :            0 1              incorrect
row  98 :            1 0              incorrect
row  99 :            0 0
row 100 :            0 0
row 101 :            0 0
row 102 :            0 0
row 103 :            1 1
row 104 :            0 0
row 105 :            0 0
row 106 :            0 0
row 107 :            0 0
row 108 :            0 0
row 109 :            1 1
row 110 :            0 0
row 111 :            0 0
row 112 :            1 1
row 113 :            0 0
row 114 :            0 0
row 115 :            0 0
row 116 :            0 0
row 117 :            1 0              incorrect
row 118 :            1 1
row 119 :            1 0              incorrect
row 120 :            0 0
row 121 :            0 0
row 122 :            0 1              incorrect
row 123 :            1 1
row 124 :            1 1
row 125 :            0 0
row 126 :            0 0
row 127 :            1 1
row 128 :            0 0
row 129 :            1 0              incorrect
row 130 :            1 1
row 131 :            0 0
row 132 :            1 1
row 133 :            0 1              incorrect
row 134 :            0 0
row 135 :            0 0
row 136 :            0 0
row 137 :            1 0              incorrect
row 138 :            1 0              incorrect
row 139 :            0 1              incorrect
row 140 :            1 1
row 141 :            1 0              incorrect
row 142 :            0 0
row 143 :            1 1
row 144 :            0 0
row 145 :            0 1              incorrect
row 146 :            1 0              incorrect
row 147 :            0 0
row 148 :            0 0
row 149 :            0 0
row 150 :            0 0
row 151 :            0 0
row 152 :            0 0
row 153 :            1 1
row 154 :            0 0
row 155 :            0 0
row 156 :            0 0
row 157 :            1 1
row 158 :            0 0
row 159 :            0 0
row 160 :            1 1
row 161 :            1 0              incorrect
row 162 :            1 1
row 163 :            1 0              incorrect
row 164 :            1 1
row 165 :            0 0
row 166 :            1 1
row 167 :            1 1
row 168 :            1 1
row 169 :            0 0
row 170 :            1 1
row 171 :            0 1              incorrect
row 172 :            0 0
row 173 :            0 0
row 174 :            0 0
row 175 :            1 1
row 176 :            0 0
row 177 :            0 1              incorrect
row 178 :            1 0              incorrect
row 179 :            1 0              incorrect
row 180 :            1 0              incorrect
row 181 :            0 1              incorrect
row 182 :            1 1
row 183 :            0 1              incorrect
row 184 :            0 0
row 185 :            0 0
row 186 :            0 0
row 187 :            0 0
row 188 :            0 0
row 189 :            0 0
row 190 :            1 1
row 191 :            0 0
row 192 :            1 1
row 193 :            1 1
row 194 :            0 1              incorrect
row 195 :            0 0
row 196 :            0 0
row 197 :            0 0
row 198 :            0 0
row 199 :            1 1
row 200 :            1 0              incorrect

Correct: 143 out of 201

143

### When pclass has a weight of 0, we see that the overall cv and testing accuracies drop when compared to the test with no feature weighting. The testing accuracy comes out to be 143 and the cv accuracy comes out to be 0.7098 (best k of 5).

In [90]:
cleaned_filename = "titanic_cleaned.csv"
df_tidy = pd.read_csv(cleaned_filename)   # encoding="utf-8" et al.
print(f"{cleaned_filename} : file read into a pandas dataframe.")
pd.options.display.min_rows = 30
df_tidy

titanic_cleaned.csv : file read into a pandas dataframe.

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      1      2
2          1         0    0   2.0000      1      2
3          1         0    1  30.0000      1      2
4          1         0    0  25.0000      1      2
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      1      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      2      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      1      0
11         1         1    0  18.0000      1      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      1      0
1247       3         0    1  21.0000      1      0
1248       3         1    0  47.0000      1      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      1      0
1258       3         1    0  15.0000      1      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      1      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [91]:
df_tidy = df_tidy[['pclass', 'sex', 'age', 'sibsp', 'parch', 'survived']]

In [92]:
df_tidy['age'] *= 0      # We test age now!
df_tidy

      pclass  sex  age  sibsp  parch  survived
0          1    0  0.0      0      0         1
1          1    1  0.0      1      2         1
2          1    0  0.0      1      2         0
3          1    1  0.0      1      2         0
4          1    0  0.0      1      2         0
5          1    1  0.0      0      0         1
6          1    0  0.0      1      0         1
7          1    1  0.0      0      0         0
8          1    0  0.0      2      0         1
9          1    1  0.0      0      0         0
10         1    1  0.0      1      0         0
11         1    0  0.0      1      0         1
12         1    0  0.0      0      0         1
13         1    0  0.0      0      0         1
14         1    1  0.0      0      0         1
...      ...  ...  ...    ...    ...       ...
1245       3    1  0.0      0      0         0
1246       3    1  0.0      1      0         0
1247       3    1  0.0      1      0         0
1248       3    0  0.0      1      0         1
1252       3    1  0.0      0      0         0
1253       3    1  0.0      0      0         0
1254       3    1  0.0      0      0         0
1256       3    1  0.0      0      0         0
1257       3    1  0.0      1      0         0
1258       3    0  0.0      1      0         1
1259       3    1  0.0      0      0         0
1262       3    0  0.0      1      0         0
1264       3    1  0.0      0      0         0
1265       3    1  0.0      0      0         0
1266       3    1  0.0      0      0         0

[1004 rows x 6 columns]

In [79]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [80]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [81]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 0.      0.     29.      0.      0.    ]
 [ 0.      1.      0.9167  1.      2.    ]
 [ 0.      0.      2.      1.      2.    ]
 ...
 [ 0.      1.     26.5     0.      0.    ]
 [ 0.      1.     27.      0.      0.    ]
 [ 0.      1.     29.      0.      0.    ]]

In [82]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 0. 0. ... 0. 1. 1.]
The corresponding data rows are
 [[ 0.  1. 42.  0.  0.]
 [ 0.  1. 29.  1.  0.]
 [ 0.  1. 42.  0.  0.]
 ...
 [ 0.  1. 41.  0.  0.]
 [ 0.  0. 18.  0.  0.]
 [ 0.  1. 31.  0.  0.]]

In [83]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0.
 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 0. 1. 0. 1. 1. 0.]
X_test (first few rows): [[ 0.  1. 23.  0.  0.]
 [ 0.  1. 32.  0.  0.]
 [ 0.  1. 20.  0.  0.]
 [ 0.  0. 48.  1.  1.]
 [ 0.  1.  2.  1.  1.]]

Data used for modeling... (training data: 803 rows)
y_train: [1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1.
 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1.
 1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1.
 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0.
 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0.
 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0.
 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1.
 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1.
 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1.
 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0.
 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0.
 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0.
 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 1. 0.
 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1.
 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 0.
 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1.]
X_train (first few rows): [[ 0.  0. 36.  0.  2.]
 [ 0.  1. 16.  0.  0.]
 [ 0.  1. 23.  0.  0.]
 [ 0.  1. 23.  0.  1.]
 [ 0.  0. 17.  1.  0.]]

In [84]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6562
k:  2  cv accuracy:  0.6638
k:  3  cv accuracy:  0.6812
k:  4  cv accuracy:  0.6662
k:  5  cv accuracy:  0.6899
k:  6  cv accuracy:  0.6899
k:  7  cv accuracy:  0.6986
k:  8  cv accuracy:  0.6899
k:  9  cv accuracy:  0.6999
k: 10  cv accuracy:  0.6887
k: 11  cv accuracy:  0.6874
k: 12  cv accuracy:  0.6799
k: 13  cv accuracy:  0.6762
k: 14  cv accuracy:  0.6737
k: 15  cv accuracy:  0.6738
k: 16  cv accuracy:  0.6675
k: 17  cv accuracy:  0.6688
k: 18  cv accuracy:  0.6576
k: 19  cv accuracy:  0.6576
k: 20  cv accuracy:  0.6563
k: 21  cv accuracy:  0.6526
k: 22  cv accuracy:  0.6501
k: 23  cv accuracy:  0.6538
k: 24  cv accuracy:  0.6439
k: 25  cv accuracy:  0.6401
k: 26  cv accuracy:  0.6489
k: 27  cv accuracy:  0.6439
k: 28  cv accuracy:  0.6414
k: 29  cv accuracy:  0.6414
k: 30  cv accuracy:  0.6376
k: 31  cv accuracy:  0.6326
k: 32  cv accuracy:  0.6302
k: 33  cv accuracy:  0.6289
k: 34  cv accuracy:  0.6277
k: 35  cv accuracy:  0.6252
k: 36  cv accuracy:  0.6264
k: 37  cv accuracy:  0.6215
k: 38  cv accuracy:  0.6190
k: 39  cv accuracy:  0.6152
k: 40  cv accuracy:  0.6090
k: 41  cv accuracy:  0.6140
best_k = 9   yields the highest average cv accuracy.

In [85]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 9

In [86]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1.
 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1.
 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 1. 0.]
Actual labels: [0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0.
 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1.
 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 0. 1. 0. 1. 1. 0.]

Results on test set:  152 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            0 0
row   1 :            0 1              incorrect
row   2 :            0 0
row   3 :            1 1
row   4 :            1 1
row   5 :            0 0
row   6 :            0 0
row   7 :            0 0
row   8 :            0 0
row   9 :            0 0
row  10 :            1 1
row  11 :            0 0
row  12 :            0 0
row  13 :            0 0
row  14 :            1 1
row  15 :            0 0
row  16 :            1 1
row  17 :            0 0
row  18 :            0 1              incorrect
row  19 :            1 0              incorrect
row  20 :            0 0
row  21 :            0 1              incorrect
row  22 :            0 0
row  23 :            1 1
row  24 :            0 0
row  25 :            1 1
row  26 :            0 0
row  27 :            1 1
row  28 :            0 0
row  29 :            0 0
row  30 :            1 1
row  31 :            1 1
row  32 :            0 0
row  33 :            0 0
row  34 :            0 0
row  35 :            1 1
row  36 :            1 1
row  37 :            1 0              incorrect
row  38 :            0 0
row  39 :            0 0
row  40 :            0 0
row  41 :            1 1
row  42 :            1 1
row  43 :            1 1
row  44 :            0 0
row  45 :            0 0
row  46 :            0 0
row  47 :            0 0
row  48 :            0 0
row  49 :            1 1
row  50 :            0 0
row  51 :            0 0
row  52 :            0 0
row  53 :            0 1              incorrect
row  54 :            1 1
row  55 :            0 0
row  56 :            0 0
row  57 :            1 0              incorrect
row  58 :            0 1              incorrect
row  59 :            1 0              incorrect
row  60 :            0 0
row  61 :            1 0              incorrect
row  62 :            0 0
row  63 :            0 0
row  64 :            0 1              incorrect
row  65 :            0 0
row  66 :            0 0
row  67 :            1 1
row  68 :            1 1
row  69 :            0 0
row  70 :            0 1              incorrect
row  71 :            0 0
row  72 :            0 1              incorrect
row  73 :            0 0
row  74 :            0 0
row  75 :            1 1
row  76 :            0 0
row  77 :            1 0              incorrect
row  78 :            0 1              incorrect
row  79 :            0 1              incorrect
row  80 :            1 1
row  81 :            0 0
row  82 :            0 0
row  83 :            0 0
row  84 :            1 0              incorrect
row  85 :            0 0
row  86 :            0 0
row  87 :            1 1
row  88 :            0 0
row  89 :            0 0
row  90 :            1 1
row  91 :            1 0              incorrect
row  92 :            1 1
row  93 :            0 0
row  94 :            0 0
row  95 :            1 1
row  96 :            0 1              incorrect
row  97 :            0 0
row  98 :            1 1
row  99 :            0 0
row 100 :            1 0              incorrect
row 101 :            0 1              incorrect
row 102 :            0 0
row 103 :            0 1              incorrect
row 104 :            0 0
row 105 :            1 1
row 106 :            1 1
row 107 :            0 0
row 108 :            1 1
row 109 :            0 0
row 110 :            1 0              incorrect
row 111 :            0 1              incorrect
row 112 :            1 0              incorrect
row 113 :            0 0
row 114 :            0 0
row 115 :            0 0
row 116 :            0 0
row 117 :            0 0
row 118 :            0 0
row 119 :            0 1              incorrect
row 120 :            1 1
row 121 :            0 0
row 122 :            1 0              incorrect
row 123 :            0 1              incorrect
row 124 :            0 0
row 125 :            1 0              incorrect
row 126 :            1 1
row 127 :            0 1              incorrect
row 128 :            1 1
row 129 :            1 1
row 130 :            0 0
row 131 :            0 0
row 132 :            1 0              incorrect
row 133 :            0 0
row 134 :            0 0
row 135 :            1 1
row 136 :            0 1              incorrect
row 137 :            0 1              incorrect
row 138 :            1 1
row 139 :            0 0
row 140 :            1 1
row 141 :            0 0
row 142 :            1 1
row 143 :            0 0
row 144 :            1 0              incorrect
row 145 :            0 0
row 146 :            0 0
row 147 :            0 0
row 148 :            0 0
row 149 :            0 0
row 150 :            1 1
row 151 :            0 0
row 152 :            0 0
row 153 :            0 0
row 154 :            0 0
row 155 :            0 0
row 156 :            0 0
row 157 :            1 0              incorrect
row 158 :            0 0
row 159 :            0 1              incorrect
row 160 :            0 0
row 161 :            1 0              incorrect
row 162 :            0 1              incorrect
row 163 :            0 0
row 164 :            0 0
row 165 :            1 1
row 166 :            0 1              incorrect
row 167 :            0 0
row 168 :            0 1              incorrect
row 169 :            0 0
row 170 :            0 0
row 171 :            0 1              incorrect
row 172 :            1 1
row 173 :            0 1              incorrect
row 174 :            0 0
row 175 :            0 0
row 176 :            0 0
row 177 :            1 1
row 178 :            1 1
row 179 :            0 0
row 180 :            0 1              incorrect
row 181 :            1 0              incorrect
row 182 :            0 0
row 183 :            1 1
row 184 :            1 0              incorrect
row 185 :            0 0
row 186 :            0 0
row 187 :            0 0
row 188 :            0 0
row 189 :            0 1              incorrect
row 190 :            0 0
row 191 :            0 0
row 192 :            0 0
row 193 :            0 1              incorrect
row 194 :            1 0              incorrect
row 195 :            0 0
row 196 :            1 1
row 197 :            0 0
row 198 :            0 1              incorrect
row 199 :            1 1
row 200 :            0 0

Correct: 152 out of 201

152

##### When age is not considered at all, the testing accuracy comes out to be 152/201 which is higher than the testing accuracy when pclass is not considered. However, the cv accuracy for this test is lower than the one prior - the best k here is 9 with a cv accuracy of 0.6999.

# Now, let's compare parch and sibsp to see which one has a more detrimental effect to the test and cv accuracies!

In [93]:
# let's read in our births data...
# 
# for read_csv, use header=0 when row 0 is a header row
# 
cleaned_filename = "titanic_cleaned.csv"
df_tidy = pd.read_csv(cleaned_filename)   # encoding="utf-8" et al.
print(f"{cleaned_filename} : file read into a pandas dataframe.")
pd.options.display.min_rows = 30
df_tidy

titanic_cleaned.csv : file read into a pandas dataframe.

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      1      2
2          1         0    0   2.0000      1      2
3          1         0    1  30.0000      1      2
4          1         0    0  25.0000      1      2
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      1      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      2      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      1      0
11         1         1    0  18.0000      1      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      1      0
1247       3         0    1  21.0000      1      0
1248       3         1    0  47.0000      1      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      1      0
1258       3         1    0  15.0000      1      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      1      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [88]:
df_tidy['parch'] *= 0      # We test age now!
df_tidy

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      1      0
2          1         0    0   2.0000      1      0
3          1         0    1  30.0000      1      0
4          1         0    0  25.0000      1      0
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      1      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      2      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      1      0
11         1         1    0  18.0000      1      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      1      0
1247       3         0    1  21.0000      1      0
1248       3         1    0  47.0000      1      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      1      0
1258       3         1    0  15.0000      1      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      1      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [94]:
df_tidy = df_tidy[['pclass', 'sex', 'age', 'sibsp', 'parch', 'survived']]

In [95]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [96]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 0.      0.     29.      0.      0.    ]
 [ 0.      1.      0.9167  1.      2.    ]
 [ 0.      0.      2.      1.      2.    ]
 ...
 [ 0.      1.     26.5     0.      0.    ]
 [ 0.      1.     27.      0.      0.    ]
 [ 0.      1.     29.      0.      0.    ]]

In [97]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 0. 0. ... 0. 0. 1.]
The corresponding data rows are
 [[ 0.  1. 16.  0.  0.]
 [ 0.  1. 26.  0.  0.]
 [ 0.  0. 29.  0.  0.]
 ...
 [ 0.  0. 28.  0.  0.]
 [ 0.  1. 46.  0.  0.]
 [ 0.  0. 55.  0.  0.]]

In [98]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1.
 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1.
 1. 1. 0. 1. 0. 0. 0. 0. 0.]
X_test (first few rows): [[ 0.  1. 54.  0.  0.]
 [ 0.  1. 47.  0.  0.]
 [ 0.  0. 38.  0.  0.]
 [ 0.  1. 19.  0.  0.]
 [ 0.  1. 19.  1.  1.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1.
 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1.
 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0.
 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1.]
X_train (first few rows): [[ 0.  1. 34.  1.  0.]
 [ 0.  0. 13.  0.  0.]
 [ 0.  1. 29.  1.  0.]
 [ 0.  0. 38.  0.  0.]
 [ 0.  1. 46.  0.  0.]]

In [99]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6700
k:  2  cv accuracy:  0.6800
k:  3  cv accuracy:  0.6924
k:  4  cv accuracy:  0.6687
k:  5  cv accuracy:  0.7186
k:  6  cv accuracy:  0.6912
k:  7  cv accuracy:  0.7086
k:  8  cv accuracy:  0.7036
k:  9  cv accuracy:  0.6962
k: 10  cv accuracy:  0.6862
k: 11  cv accuracy:  0.6937
k: 12  cv accuracy:  0.6912
k: 13  cv accuracy:  0.6887
k: 14  cv accuracy:  0.6837
k: 15  cv accuracy:  0.6825
k: 16  cv accuracy:  0.6738
k: 17  cv accuracy:  0.6800
k: 18  cv accuracy:  0.6701
k: 19  cv accuracy:  0.6813
k: 20  cv accuracy:  0.6651
k: 21  cv accuracy:  0.6688
k: 22  cv accuracy:  0.6688
k: 23  cv accuracy:  0.6626
k: 24  cv accuracy:  0.6700
k: 25  cv accuracy:  0.6676
k: 26  cv accuracy:  0.6563
k: 27  cv accuracy:  0.6476
k: 28  cv accuracy:  0.6526
k: 29  cv accuracy:  0.6464
k: 30  cv accuracy:  0.6376
k: 31  cv accuracy:  0.6376
k: 32  cv accuracy:  0.6339
k: 33  cv accuracy:  0.6302
k: 34  cv accuracy:  0.6438
k: 35  cv accuracy:  0.6277
k: 36  cv accuracy:  0.6227
k: 37  cv accuracy:  0.6264
k: 38  cv accuracy:  0.6214
k: 39  cv accuracy:  0.6339
k: 40  cv accuracy:  0.6289
k: 41  cv accuracy:  0.6227
best_k = 5   yields the highest average cv accuracy.

In [100]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 5

In [101]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0.
 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 1. 1. 0. 1. 0. 0. 0. 0. 0.]
Actual labels: [0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1.
 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1.
 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1.
 1. 1. 0. 1. 0. 0. 0. 0. 0.]

Results on test set:  149 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            0 0
row   1 :            0 0
row   2 :            1 0              incorrect
row   3 :            0 0
row   4 :            0 0
row   5 :            0 1              incorrect
row   6 :            0 0
row   7 :            0 0
row   8 :            0 0
row   9 :            0 1              incorrect
row  10 :            1 0              incorrect
row  11 :            0 0
row  12 :            1 1
row  13 :            0 1              incorrect
row  14 :            0 1              incorrect
row  15 :            0 0
row  16 :            0 0
row  17 :            0 0
row  18 :            1 1
row  19 :            0 0
row  20 :            1 0              incorrect
row  21 :            1 0              incorrect
row  22 :            0 1              incorrect
row  23 :            0 0
row  24 :            0 0
row  25 :            0 0
row  26 :            0 0
row  27 :            0 1              incorrect
row  28 :            0 0
row  29 :            0 0
row  30 :            1 1
row  31 :            1 0              incorrect
row  32 :            1 0              incorrect
row  33 :            0 0
row  34 :            0 0
row  35 :            1 0              incorrect
row  36 :            1 1
row  37 :            0 0
row  38 :            1 1
row  39 :            0 0
row  40 :            0 0
row  41 :            0 0
row  42 :            0 1              incorrect
row  43 :            1 1
row  44 :            1 1
row  45 :            0 1              incorrect
row  46 :            0 0
row  47 :            1 1
row  48 :            1 0              incorrect
row  49 :            0 0
row  50 :            0 0
row  51 :            0 0
row  52 :            1 1
row  53 :            0 1              incorrect
row  54 :            1 1
row  55 :            1 1
row  56 :            0 0
row  57 :            1 1
row  58 :            0 0
row  59 :            0 0
row  60 :            0 0
row  61 :            1 0              incorrect
row  62 :            0 1              incorrect
row  63 :            0 1              incorrect
row  64 :            0 1              incorrect
row  65 :            1 1
row  66 :            0 0
row  67 :            0 0
row  68 :            0 0
row  69 :            1 0              incorrect
row  70 :            0 0
row  71 :            1 1
row  72 :            0 1              incorrect
row  73 :            0 0
row  74 :            1 1
row  75 :            0 0
row  76 :            0 0
row  77 :            0 0
row  78 :            1 0              incorrect
row  79 :            0 0
row  80 :            1 1
row  81 :            1 1
row  82 :            1 1
row  83 :            0 0
row  84 :            0 1              incorrect
row  85 :            0 1              incorrect
row  86 :            0 0
row  87 :            0 0
row  88 :            0 0
row  89 :            0 0
row  90 :            1 1
row  91 :            0 0
row  92 :            1 1
row  93 :            0 0
row  94 :            0 0
row  95 :            0 0
row  96 :            0 0
row  97 :            1 0              incorrect
row  98 :            0 0
row  99 :            0 0
row 100 :            1 0              incorrect
row 101 :            1 1
row 102 :            0 0
row 103 :            0 0
row 104 :            0 0
row 105 :            1 1
row 106 :            0 0
row 107 :            0 0
row 108 :            0 1              incorrect
row 109 :            1 0              incorrect
row 110 :            1 0              incorrect
row 111 :            1 0              incorrect
row 112 :            0 0
row 113 :            0 0
row 114 :            0 0
row 115 :            1 0              incorrect
row 116 :            1 1
row 117 :            1 1
row 118 :            1 1
row 119 :            0 0
row 120 :            0 0
row 121 :            1 1
row 122 :            1 1
row 123 :            1 1
row 124 :            0 0
row 125 :            1 1
row 126 :            1 1
row 127 :            1 0              incorrect
row 128 :            1 1
row 129 :            1 1
row 130 :            1 0              incorrect
row 131 :            0 0
row 132 :            1 1
row 133 :            0 0
row 134 :            1 1
row 135 :            1 0              incorrect
row 136 :            1 1
row 137 :            0 0
row 138 :            0 0
row 139 :            1 1
row 140 :            0 0
row 141 :            1 1
row 142 :            0 1              incorrect
row 143 :            1 1
row 144 :            0 0
row 145 :            0 1              incorrect
row 146 :            1 1
row 147 :            1 1
row 148 :            0 0
row 149 :            0 0
row 150 :            0 0
row 151 :            1 1
row 152 :            0 0
row 153 :            1 1
row 154 :            0 0
row 155 :            0 0
row 156 :            1 1
row 157 :            1 1
row 158 :            0 1              incorrect
row 159 :            0 0
row 160 :            0 0
row 161 :            1 1
row 162 :            1 0              incorrect
row 163 :            0 0
row 164 :            1 0              incorrect
row 165 :            1 1
row 166 :            0 0
row 167 :            0 1              incorrect
row 168 :            0 1              incorrect
row 169 :            0 0
row 170 :            1 1
row 171 :            1 0              incorrect
row 172 :            1 1
row 173 :            0 1              incorrect
row 174 :            1 0              incorrect
row 175 :            1 0              incorrect
row 176 :            1 1
row 177 :            0 0
row 178 :            1 1
row 179 :            0 1              incorrect
row 180 :            0 0
row 181 :            0 1              incorrect
row 182 :            0 1              incorrect
row 183 :            0 1              incorrect
row 184 :            1 1
row 185 :            0 0
row 186 :            0 0
row 187 :            0 0
row 188 :            1 1
row 189 :            0 0
row 190 :            0 0
row 191 :            0 1              incorrect
row 192 :            1 1
row 193 :            1 1
row 194 :            0 0
row 195 :            1 1
row 196 :            0 0
row 197 :            0 0
row 198 :            0 0
row 199 :            0 0
row 200 :            0 0

Correct: 149 out of 201

149

##### When 'parch' is not considered, we see that the testing accuracy comes out to be 149/201, the best k is 5, and the cv accuracy is 0.7186... Now moving on to seeing what happens when the weight for sibsp is 0...

In [102]:
# let's read in our births data...
# 
# for read_csv, use header=0 when row 0 is a header row
# 
cleaned_filename = "titanic_cleaned.csv"
df_tidy = pd.read_csv(cleaned_filename)   # encoding="utf-8" et al.
print(f"{cleaned_filename} : file read into a pandas dataframe.")
pd.options.display.min_rows = 30
df_tidy

titanic_cleaned.csv : file read into a pandas dataframe.

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      1      2
2          1         0    0   2.0000      1      2
3          1         0    1  30.0000      1      2
4          1         0    0  25.0000      1      2
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      1      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      2      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      1      0
11         1         1    0  18.0000      1      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      1      0
1247       3         0    1  21.0000      1      0
1248       3         1    0  47.0000      1      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      1      0
1258       3         1    0  15.0000      1      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      1      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [103]:
df_tidy['sibsp'] *= 0      # We test age now!
df_tidy

      pclass  survived  sex      age  sibsp  parch
0          1         1    0  29.0000      0      0
1          1         1    1   0.9167      0      2
2          1         0    0   2.0000      0      2
3          1         0    1  30.0000      0      2
4          1         0    0  25.0000      0      2
5          1         1    1  48.0000      0      0
6          1         1    0  63.0000      0      0
7          1         0    1  39.0000      0      0
8          1         1    0  53.0000      0      0
9          1         0    1  71.0000      0      0
10         1         0    1  47.0000      0      0
11         1         1    0  18.0000      0      0
12         1         1    0  24.0000      0      0
13         1         1    0  26.0000      0      0
14         1         1    1  80.0000      0      0
...      ...       ...  ...      ...    ...    ...
1245       3         0    1  51.0000      0      0
1246       3         0    1  18.0000      0      0
1247       3         0    1  21.0000      0      0
1248       3         1    0  47.0000      0      0
1252       3         0    1  28.5000      0      0
1253       3         0    1  21.0000      0      0
1254       3         0    1  27.0000      0      0
1256       3         0    1  36.0000      0      0
1257       3         0    1  27.0000      0      0
1258       3         1    0  15.0000      0      0
1259       3         0    1  45.5000      0      0
1262       3         0    0  14.5000      0      0
1264       3         0    1  26.5000      0      0
1265       3         0    1  27.0000      0      0
1266       3         0    1  29.0000      0      0

[1004 rows x 6 columns]

In [104]:
df_tidy = df_tidy[['pclass', 'sex', 'age', 'sibsp', 'parch', 'survived']]

In [105]:

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

[[ 0.      0.     29.      0.      0.      1.    ]
 [ 0.      1.      0.9167  1.      2.      1.    ]
 [ 0.      0.      2.      1.      2.      0.    ]
 ...
 [ 0.      1.     26.5     0.      0.      0.    ]
 [ 0.      1.     27.      0.      0.      0.    ]
 [ 0.      1.     29.      0.      0.      0.    ]]

In [106]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 0.      0.     29.      0.      0.    ]
 [ 0.      1.      0.9167  1.      2.    ]
 [ 0.      0.      2.      1.      2.    ]
 ...
 [ 0.      1.     26.5     0.      0.    ]
 [ 0.      1.     27.      0.      0.    ]
 [ 0.      1.     29.      0.      0.    ]]

In [107]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 1. 0. ... 0. 1. 1.]
The corresponding data rows are
 [[ 0.  1. 27.  0.  0.]
 [ 0.  0.  5.  4.  2.]
 [ 0.  1. 26.  0.  0.]
 ...
 [ 0.  1. 25.  0.  0.]
 [ 0.  0. 26.  0.  0.]
 [ 0.  1. 11.  1.  2.]]

In [108]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0.
 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0.
 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1.
 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 1. 1. 0. 0. 0. 1. 1. 0.]
X_test (first few rows): [[ 0.  0. 18.  0.  0.]
 [ 0.  0. 31.  1.  1.]
 [ 0.  0. 32.  0.  0.]
 [ 0.  1. 35.  0.  0.]
 [ 0.  1. 32.  1.  0.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0.
 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1.
 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1.
 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0.
 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0.
 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1.
 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1.
 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0.
 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1.
 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1.
 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1.
 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0.
 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1.
 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0.
 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1.]
X_train (first few rows): [[ 0.  1. 29.  0.  0.]
 [ 0.  1. 36.  0.  0.]
 [ 0.  0. 41.  0.  2.]
 [ 0.  1. 41.  0.  0.]
 [ 0.  1. 36.  0.  0.]]

In [109]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6925
k:  2  cv accuracy:  0.6812
k:  3  cv accuracy:  0.7023
k:  4  cv accuracy:  0.6911
k:  5  cv accuracy:  0.7111
k:  6  cv accuracy:  0.6861
k:  7  cv accuracy:  0.7036
k:  8  cv accuracy:  0.6912
k:  9  cv accuracy:  0.7024
k: 10  cv accuracy:  0.6887
k: 11  cv accuracy:  0.6824
k: 12  cv accuracy:  0.6799
k: 13  cv accuracy:  0.6862
k: 14  cv accuracy:  0.6812
k: 15  cv accuracy:  0.6961
k: 16  cv accuracy:  0.6849
k: 17  cv accuracy:  0.6875
k: 18  cv accuracy:  0.6762
k: 19  cv accuracy:  0.6837
k: 20  cv accuracy:  0.6675
k: 21  cv accuracy:  0.6675
k: 22  cv accuracy:  0.6638
k: 23  cv accuracy:  0.6713
k: 24  cv accuracy:  0.6650
k: 25  cv accuracy:  0.6663
k: 26  cv accuracy:  0.6538
k: 27  cv accuracy:  0.6563
k: 28  cv accuracy:  0.6488
k: 29  cv accuracy:  0.6576
k: 30  cv accuracy:  0.6414
k: 31  cv accuracy:  0.6488
k: 32  cv accuracy:  0.6364
k: 33  cv accuracy:  0.6464
k: 34  cv accuracy:  0.6302
k: 35  cv accuracy:  0.6364
k: 36  cv accuracy:  0.6277
k: 37  cv accuracy:  0.6401
k: 38  cv accuracy:  0.6327
k: 39  cv accuracy:  0.6314
k: 40  cv accuracy:  0.6202
k: 41  cv accuracy:  0.6177
best_k = 5   yields the highest average cv accuracy.

In [110]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 5

In [111]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1.
 1. 0. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 0. 0. 1. 0. 0.]
Actual labels: [1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0.
 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0.
 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1.
 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 1. 1. 0. 0. 0. 1. 1. 0.]

Results on test set:  146 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            1 1
row   1 :            0 1              incorrect
row   2 :            1 1
row   3 :            0 1              incorrect
row   4 :            1 1
row   5 :            1 1
row   6 :            1 1
row   7 :            1 0              incorrect
row   8 :            0 1              incorrect
row   9 :            0 0
row  10 :            0 1              incorrect
row  11 :            0 0
row  12 :            1 1
row  13 :            1 1
row  14 :            1 1
row  15 :            1 1
row  16 :            1 1
row  17 :            0 1              incorrect
row  18 :            1 1
row  19 :            1 1
row  20 :            0 1              incorrect
row  21 :            0 1              incorrect
row  22 :            0 1              incorrect
row  23 :            0 0
row  24 :            0 0
row  25 :            0 0
row  26 :            0 0
row  27 :            0 1              incorrect
row  28 :            0 0
row  29 :            1 1
row  30 :            0 0
row  31 :            0 0
row  32 :            0 0
row  33 :            0 1              incorrect
row  34 :            0 0
row  35 :            0 1              incorrect
row  36 :            0 0
row  37 :            1 1
row  38 :            0 0
row  39 :            1 0              incorrect
row  40 :            1 0              incorrect
row  41 :            1 1
row  42 :            1 1
row  43 :            0 1              incorrect
row  44 :            1 1
row  45 :            0 1              incorrect
row  46 :            1 1
row  47 :            1 1
row  48 :            1 0              incorrect
row  49 :            0 0
row  50 :            1 1
row  51 :            1 0              incorrect
row  52 :            1 1
row  53 :            0 0
row  54 :            1 0              incorrect
row  55 :            0 0
row  56 :            0 1              incorrect
row  57 :            1 1
row  58 :            0 0
row  59 :            0 0
row  60 :            0 1              incorrect
row  61 :            1 1
row  62 :            0 0
row  63 :            0 0
row  64 :            0 1              incorrect
row  65 :            0 0
row  66 :            0 0
row  67 :            1 0              incorrect
row  68 :            0 0
row  69 :            0 1              incorrect
row  70 :            1 1
row  71 :            0 0
row  72 :            0 0
row  73 :            0 0
row  74 :            0 0
row  75 :            1 1
row  76 :            0 0
row  77 :            0 0
row  78 :            1 1
row  79 :            1 1
row  80 :            1 1
row  81 :            0 0
row  82 :            0 0
row  83 :            0 0
row  84 :            0 0
row  85 :            1 1
row  86 :            1 1
row  87 :            0 1              incorrect
row  88 :            0 0
row  89 :            0 1              incorrect
row  90 :            1 0              incorrect
row  91 :            1 1
row  92 :            0 1              incorrect
row  93 :            0 0
row  94 :            0 0
row  95 :            1 0              incorrect
row  96 :            0 0
row  97 :            0 0
row  98 :            1 1
row  99 :            0 0
row 100 :            1 1
row 101 :            0 0
row 102 :            1 0              incorrect
row 103 :            1 1
row 104 :            0 0
row 105 :            1 0              incorrect
row 106 :            0 1              incorrect
row 107 :            0 0
row 108 :            0 0
row 109 :            1 1
row 110 :            0 1              incorrect
row 111 :            0 1              incorrect
row 112 :            1 0              incorrect
row 113 :            0 0
row 114 :            0 0
row 115 :            0 0
row 116 :            0 0
row 117 :            1 0              incorrect
row 118 :            0 1              incorrect
row 119 :            0 0
row 120 :            1 1
row 121 :            1 1
row 122 :            0 0
row 123 :            0 0
row 124 :            1 1
row 125 :            0 0
row 126 :            0 0
row 127 :            0 0
row 128 :            1 1
row 129 :            0 0
row 130 :            0 0
row 131 :            0 0
row 132 :            0 0
row 133 :            0 0
row 134 :            0 1              incorrect
row 135 :            0 0
row 136 :            0 0
row 137 :            0 0
row 138 :            0 0
row 139 :            0 0
row 140 :            0 0
row 141 :            1 1
row 142 :            1 1
row 143 :            0 0
row 144 :            0 1              incorrect
row 145 :            0 0
row 146 :            1 1
row 147 :            1 1
row 148 :            0 0
row 149 :            1 0              incorrect
row 150 :            0 0
row 151 :            0 1              incorrect
row 152 :            1 1
row 153 :            0 0
row 154 :            1 0              incorrect
row 155 :            0 0
row 156 :            1 1
row 157 :            0 0
row 158 :            0 0
row 159 :            0 1              incorrect
row 160 :            0 0
row 161 :            0 0
row 162 :            1 1
row 163 :            0 0
row 164 :            1 1
row 165 :            0 0
row 166 :            0 1              incorrect
row 167 :            0 1              incorrect
row 168 :            0 0
row 169 :            0 1              incorrect
row 170 :            0 0
row 171 :            0 0
row 172 :            0 1              incorrect
row 173 :            1 0              incorrect
row 174 :            1 0              incorrect
row 175 :            1 0              incorrect
row 176 :            0 0
row 177 :            0 0
row 178 :            0 1              incorrect
row 179 :            0 0
row 180 :            1 0              incorrect
row 181 :            0 1              incorrect
row 182 :            0 0
row 183 :            0 0
row 184 :            0 0
row 185 :            0 0
row 186 :            0 0
row 187 :            0 0
row 188 :            0 0
row 189 :            0 0
row 190 :            1 1
row 191 :            0 0
row 192 :            0 0
row 193 :            1 1
row 194 :            1 1
row 195 :            1 0              incorrect
row 196 :            0 0
row 197 :            0 0
row 198 :            1 1
row 199 :            0 1              incorrect
row 200 :            0 0

Correct: 146 out of 201

146

##### As we can see, the best k turned out to be 5 with a cv accuracy of 0.7111. The testing accuracy comes out to be 146/201.

##### The results of the two tests above are so similar so our program cannot determine which feature (sibsp or parch) is more detrimental to the survival results.

##### From my (human perspective), I can see how having siblings and parents onboard can influence the survival of a person. They might try to save others before themselves or not. If the siblings or parents are not on board, then I believe these two features don't matter at all. With that being said, I don't believe these two features are as important to consider than age.

In [112]:
# let's read in our Other Titanic Passengers data...
# 
# for read_csv, use header=0 when row 0 is a header row
# 
cleaned_filename = "Other_Titanic_passengers.csv"
df_tidy = pd.read_csv(cleaned_filename)   # encoding="utf-8" et al.
print(f"{cleaned_filename} : file read into a pandas dataframe.")
pd.options.display.min_rows = 30
df_tidy

Other_Titanic_passengers.csv : file read into a pandas dataframe.

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3,0,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,NaN,NaN,NaN
1,3,0,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S,NaN,79.0,Argentina
2,3,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,"Lower Clapton, Middlesex or Erdington, Birmingham"
3,3,0,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,NaN,259.0,"Windsor, England New York, NY"
4,3,1,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S,16.0,NaN,NaN
5,3,0,"Andersen, Mr. Albert Karvin",male,32.0,0,0,C 4001,22.5250,NaN,S,NaN,260.0,"Bergen, Norway"
6,1,0,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
7,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,6.0,NaN,"Montreal, PQ"
8,2,1,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0000,F4,S,11.0,NaN,"Guntur, India / Benton Harbour, MI"
9,2,1,"Becker, Miss. Marion Louise",female,4.0,2,1,230136,39.0000,F4,S,11.0,NaN,"Guntur, India / Benton Harbour, MI"
10,2,1,"Becker, Miss. Ruth Elizabeth",female,12.0,2,1,230136,39.0000,F4,S,13.0,NaN,"Guntur, India / Benton Harbour, MI"
11,2,1,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,0,3,230136,39.0000,F4,S,11.0,NaN,"Guntur, India / Benton Harbour, MI"
12,2,1,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,13.0,NaN,London
13,2,1,"Bentham, Miss. Lilian W",female,19.0,0,0,28404,13.0000,NaN,S,12.0,NaN,"Rochester, NY"
14,2,0,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,NaN,NaN,"St Ives, Cornwall / Calumet, MI"
15,2,0,"Botsford, Mr. William Hull",male,26.0,0,0,237670,13.0000,NaN,S,NaN,NaN,"Elmira, NY / Orange, NJ"
16,2,0,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S,NaN,NaN,London
17,2,0,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S,NaN,NaN,"Lake Arthur, Chavez County, NM"
18,3,1,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,10.0,NaN,"Devon, England Wichita, KS"
19,1,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S,13.0,NaN,"San Francisco, CA"
20,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S,5.0,NaN,"San Francisco, CA"
21,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,5.0,NaN,"San Francisco, CA"
22,3,0,"Everett, Mr. Thomas James",male,40.5,0,0,C.A. 6212,15.1000,NaN,S,NaN,187.0,NaN
23,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN,"Winnipeg, MB"
24,1,1,"Fortune, Miss. Ethel Flora",female,28.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN,"Winnipeg, MB"
25,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN,"Winnipeg, MB"
26,1,0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
27,1,0,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
28,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S,10.0,NaN,"Winnipeg, MB"
29,2,0,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"West Hampstead, London / Neepawa, MB"
30,2,0,"Hickman, Mr. Lewis",male,32.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,256.0,"West Hampstead, London / Neepawa, MB"
31,2,0,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"West Hampstead, London / Neepawa, MB"
32,2,0,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S,NaN,NaN,"Kontiolahti, Finland / Detroit, MI"
33,2,1,"Hocking, Miss. Ellen ""Nellie""",female,20.0,2,1,29105,23.0000,NaN,S,4.0,NaN,"Cornwall / Akron, OH"
34,2,0,"Hocking, Mr. Richard George",male,23.0,2,1,29104,11.5000,NaN,S,NaN,NaN,"Cornwall / Akron, OH"
35,2,0,"Hocking, Mr. Samuel James Metcalfe",male,36.0,0,0,242963,13.0000,NaN,S,NaN,NaN,"Devonport, England"
36,2,1,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,4.0,NaN,"Cornwall / Akron, OH"
37,2,1,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,10.0,NaN,"Paris / Montreal, PQ"
38,2,0,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,NaN,C,NaN,NaN,"Paris / Montreal, PQ"
39,2,1,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.0,1,1,S.C./PARIS 2079,37.0042,NaN,C,10.0,NaN,"Paris / Montreal, PQ"
40,1,0,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,NaN,NaN,"Halifax, NS"
41,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C,8.0,NaN,"New York, NY / Washington, DC"

In [115]:
# Let's look at the dataframe's columns:
df = df_tidy
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [116]:
# we can drop a series of data (a row or a column)
# the dimensions each have a numeric value, row~0, col~1, but let's use readable names we define:
ROW = 0
COLUMN = 1

df_clean1 = df.drop('home.dest', axis=COLUMN)
df_clean1

# df_clean1 is a new dataframe, without that unwanted column

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body
0,3,0,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,NaN,NaN
1,3,0,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S,NaN,79.0
2,3,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN
3,3,0,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,NaN,259.0
4,3,1,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S,16.0,NaN
5,3,0,"Andersen, Mr. Albert Karvin",male,32.0,0,0,C 4001,22.5250,NaN,S,NaN,260.0
6,1,0,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN
7,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,6.0,NaN
8,2,1,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0000,F4,S,11.0,NaN
9,2,1,"Becker, Miss. Marion Louise",female,4.0,2,1,230136,39.0000,F4,S,11.0,NaN
10,2,1,"Becker, Miss. Ruth Elizabeth",female,12.0,2,1,230136,39.0000,F4,S,13.0,NaN
11,2,1,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,0,3,230136,39.0000,F4,S,11.0,NaN
12,2,1,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,13.0,NaN
13,2,1,"Bentham, Miss. Lilian W",female,19.0,0,0,28404,13.0000,NaN,S,12.0,NaN
14,2,0,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,NaN,NaN
15,2,0,"Botsford, Mr. William Hull",male,26.0,0,0,237670,13.0000,NaN,S,NaN,NaN
16,2,0,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S,NaN,NaN
17,2,0,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S,NaN,NaN
18,3,1,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,10.0,NaN
19,1,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S,13.0,NaN
20,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S,5.0,NaN
21,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,5.0,NaN
22,3,0,"Everett, Mr. Thomas James",male,40.5,0,0,C.A. 6212,15.1000,NaN,S,NaN,187.0
23,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN
24,1,1,"Fortune, Miss. Ethel Flora",female,28.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN
25,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,10.0,NaN
26,1,0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,NaN,NaN
27,1,0,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,NaN,NaN
28,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S,10.0,NaN
29,2,0,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN
30,2,0,"Hickman, Mr. Lewis",male,32.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,256.0
31,2,0,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN
32,2,0,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S,NaN,NaN
33,2,1,"Hocking, Miss. Ellen ""Nellie""",female,20.0,2,1,29105,23.0000,NaN,S,4.0,NaN
34,2,0,"Hocking, Mr. Richard George",male,23.0,2,1,29104,11.5000,NaN,S,NaN,NaN
35,2,0,"Hocking, Mr. Samuel James Metcalfe",male,36.0,0,0,242963,13.0000,NaN,S,NaN,NaN
36,2,1,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,4.0,NaN
37,2,1,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,10.0,NaN
38,2,0,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,NaN,C,NaN,NaN
39,2,1,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.0,1,1,S.C./PARIS 2079,37.0042,NaN,C,10.0,NaN
40,1,0,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,NaN,NaN
41,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C,8.0,NaN

In [119]:
# we can drop a series of data (a row or a column)
# the dimensions each have a numeric value, row~0, col~1, but let's use readable names we define:
ROW = 0
COLUMN = 1

df_clean2 = df_clean1.drop('body', axis=COLUMN)
df_clean3 = df_clean2.drop('boat', axis=COLUMN)
df_clean4 = df_clean3.drop('embarked', axis=COLUMN)
df_clean5 = df_clean4.drop('cabin', axis=COLUMN)
df_clean6 = df_clean5.drop('fare', axis=COLUMN)
df_clean7 = df_clean6.drop('ticket', axis=COLUMN)
df_clean8 = df_clean7.drop('name', axis=COLUMN)
df_tidy = df_clean8
df_tidy

# df_clean1 is a new dataframe, without that unwanted column

    pclass  survived     sex   age  sibsp  parch
0        3         0    male  24.0      0      0
1        3         0    male  25.0      0      0
2        3         0    male  35.0      0      0
3        3         0    male  18.0      0      0
4        3         1  female  19.0      1      0
5        3         0    male  32.0      0      0
6        1         0    male  24.0      0      1
7        1         1  female  50.0      0      1
8        2         1    male   1.0      2      1
9        2         1  female   4.0      2      1
10       2         1  female  12.0      2      1
11       2         1  female  36.0      0      3
12       2         1    male  34.0      0      0
13       2         1  female  19.0      0      0
14       2         0    male  23.0      0      0
15       2         0    male  26.0      0      0
16       2         0    male  42.0      0      0
17       2         0    male  27.0      0      0
18       3         1    male   1.0      1      2
19       1         1    male  53.0      1      1
20       1         1    male   4.0      0      2
21       1         1  female  54.0      1      1
22       3         0    male  40.5      0      0
23       1         1  female  24.0      3      2
24       1         1  female  28.0      3      2
25       1         1  female  23.0      3      2
26       1         0    male  19.0      3      2
27       1         0    male  64.0      1      4
28       1         1  female  60.0      1      4
29       2         0    male  24.0      2      0
30       2         0    male  32.0      2      0
31       2         0    male  21.0      2      0
32       2         0  female  18.0      1      1
33       2         1  female  20.0      2      1
34       2         0    male  23.0      2      1
35       2         0    male  36.0      0      0
36       2         1  female  54.0      1      3
37       2         1    male   1.0      0      2
38       2         0    male  31.0      1      1
39       2         1  female  24.0      1      1
40       1         0    male  62.0      0      0
41       1         1  female  36.0      0      0

In [120]:
df_tidy = df_tidy[['pclass', 'sex', 'age', 'sibsp', 'parch', 'survived']]

#
# let's make sure it's all floating-point, so we can multiply and divide
#
A = A.astype('float64')  # so many types:  www.tutorialspoint.com/numpy/numpy_data_types.htm
print(A)

In [121]:
print("+++ Start of data definitions +++\n")

#
# we could do this at the data-frame level, too!
#

X_all = A[:, 0:-1] # X (features) all columns except 'survived'
y_all = A[:, -1]    # y (labels) ... is all rows, column 4 only

print(f"y_all (just the labels)   are \n {y_all}")
print(f"X_all (just the features) are \n {X_all}")

+++ Start of data definitions +++

y_all (just the labels)   are
 [1. 1. 0. ... 0. 0. 0.]
X_all (just the features) are
 [[ 0.      0.     29.      0.      0.    ]
 [ 0.      1.      0.9167  1.      2.    ]
 [ 0.      0.      2.      1.      2.    ]
 ...
 [ 0.      1.     26.5     0.      0.    ]
 [ 0.      1.     27.      0.      0.    ]
 [ 0.      1.     29.      0.      0.    ]]

In [122]:
#
# we scramble the data, to remove (potential) dependence on its ordering: 
# 
indices = np.random.permutation(len(y_all))  # indices is a permutation-list

# we scramble both X and y, necessarily with the same permutation
X_labeled = X_all[indices]              # we apply the _same_ permutation to each!
y_labeled = y_all[indices]              # again...
print(f"The scrambled labels/species are \n {y_labeled}")
print(f"The corresponding data rows are \n {X_labeled}")

The scrambled labels/species are
 [0. 1. 0. ... 0. 1. 1.]
The corresponding data rows are
 [[ 0.  1. 60.  0.  0.]
 [ 0.  0.  5.  0.  0.]
 [ 0.  1. 25.  0.  0.]
 ...
 [ 0.  1. 21.  0.  0.]
 [ 0.  1. 37.  1.  1.]
 [ 0.  0. 22.  0.  0.]]

In [123]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2) # random_state=42

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)} rows)")
print(f"y_test: {y_test}")
print(f"X_test (first few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)} rows)")
print(f"y_train: {y_train}")
print(f"X_train (first few rows): {X_train[0:5,:]}")  # 5 rows

training with 803 rows;  testing with 201 rows

Held-out data... (testing data: 201 rows)
y_test: [1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0.
 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 0. 1.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1.
 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 1. 1. 0. 0.]
X_test (first few rows): [[ 0.  0. 27.  0.  0.]
 [ 0.  1. 41.  0.  0.]
 [ 0.  0. 60.  1.  0.]
 [ 0.  1. 45.  1.  1.]
 [ 0.  0. 76.  1.  0.]]

Data used for modeling... (training data: 803 rows)
y_train: [0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0.
 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0.
 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 1. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0.
 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1.
 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0.
 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1.
 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0.
 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1.
 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0.
 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1.
 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1.
 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0.
 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0.
 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0.
 1. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1.]
X_train (first few rows): [[ 0.  1. 25.  0.  0.]
 [ 0.  1. 18.  0.  0.]
 [ 0.  0. 47.  1.  1.]
 [ 0.  0. 30.  0.  0.]
 [ 0.  1. 65.  0.  0.]]

In [124]:
#
# Here, we use "cross validation" to find the "best" k...
#

from sklearn.model_selection import cross_val_score

#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,42):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build a knn_model for every k
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    this_cv_accuracy = cv_scores.mean()               # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {this_cv_accuracy:7.4f}")

    if this_cv_accuracy > best_accuracy:  
        best_accuracy = this_cv_accuracy  # track the best accuracy
        best_k = k                        # with the best k

    
# use best_k!
print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

k:  1  cv accuracy:  0.6738
k:  2  cv accuracy:  0.6875
k:  3  cv accuracy:  0.6899
k:  4  cv accuracy:  0.6837
k:  5  cv accuracy:  0.6899
k:  6  cv accuracy:  0.6912
k:  7  cv accuracy:  0.6974
k:  8  cv accuracy:  0.7037
k:  9  cv accuracy:  0.6912
k: 10  cv accuracy:  0.6875
k: 11  cv accuracy:  0.6937
k: 12  cv accuracy:  0.6962
k: 13  cv accuracy:  0.6949
k: 14  cv accuracy:  0.6974
k: 15  cv accuracy:  0.7062
k: 16  cv accuracy:  0.6875
k: 17  cv accuracy:  0.6974
k: 18  cv accuracy:  0.6800
k: 19  cv accuracy:  0.6813
k: 20  cv accuracy:  0.6763
k: 21  cv accuracy:  0.6838
k: 22  cv accuracy:  0.6676
k: 23  cv accuracy:  0.6825
k: 24  cv accuracy:  0.6613
k: 25  cv accuracy:  0.6613
k: 26  cv accuracy:  0.6588
k: 27  cv accuracy:  0.6675
k: 28  cv accuracy:  0.6613
k: 29  cv accuracy:  0.6501
k: 30  cv accuracy:  0.6463
k: 31  cv accuracy:  0.6526
k: 32  cv accuracy:  0.6351
k: 33  cv accuracy:  0.6352
k: 34  cv accuracy:  0.6339
k: 35  cv accuracy:  0.6302
k: 36  cv accuracy:  0.6364
k: 37  cv accuracy:  0.6352
k: 38  cv accuracy:  0.6277
k: 39  cv accuracy:  0.6301
k: 40  cv accuracy:  0.6239
k: 41  cv accuracy:  0.6277
best_k = 15   yields the highest average cv accuracy.

In [125]:
#
# With the best k, we build and train a new model:
#
# Now using best_k instead of the original, randomly-guessed value:   
#
best_k = best_k   # not needed, but nice
from sklearn.neighbors import KNeighborsClassifier
knn_model_tuned = KNeighborsClassifier(n_neighbors=best_k)   # here, we use the best_k!

# we train the model (one line!)
knn_model_tuned.fit(X_train, y_train)                              # yay!  trained!
print(f"Created + trained a knn classifier, now tuned with a (best) k of {best_k}")  

# How does it do?!  The next cell will show...

Created + trained a knn classifier, now tuned with a (best) k of 15

In [126]:
#
# Re-create and re-run the  "Model-testing Cell"     How does it do with best_k?!
#
predicted_labels = knn_model_tuned.predict(X_test)
actual_labels = y_test

# Let's print them so we can compare...
print("Predicted labels:", predicted_labels)
print("Actual labels:", actual_labels)

# And, the overall results
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"\nResults on test set:  {num_correct} correct out of {total} total.\n\n")

# Plus, we'll print our nicer table...
compare_labels(predicted_labels,actual_labels)

Predicted labels: [1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0.
 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0.]
Actual labels: [1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0.
 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 0. 1.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1.
 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 1. 1. 0. 0.]

Results on test set:  135 correct out of 201 total.



row   # :    predicted actual         result
row   0 :            1 1
row   1 :            0 0
row   2 :            0 1              incorrect
row   3 :            0 1              incorrect
row   4 :            0 1              incorrect
row   5 :            1 1
row   6 :            1 0              incorrect
row   7 :            0 0
row   8 :            0 0
row   9 :            0 0
row  10 :            0 1              incorrect
row  11 :            0 1              incorrect
row  12 :            0 0
row  13 :            0 0
row  14 :            0 0
row  15 :            1 0              incorrect
row  16 :            0 0
row  17 :            1 1
row  18 :            0 1              incorrect
row  19 :            0 1              incorrect
row  20 :            0 1              incorrect
row  21 :            1 1
row  22 :            1 1
row  23 :            0 0
row  24 :            0 1              incorrect
row  25 :            1 0              incorrect
row  26 :            0 0
row  27 :            0 0
row  28 :            1 1
row  29 :            0 0
row  30 :            0 0
row  31 :            1 1
row  32 :            0 1              incorrect
row  33 :            1 0              incorrect
row  34 :            1 1
row  35 :            1 1
row  36 :            1 1
row  37 :            0 1              incorrect
row  38 :            1 1
row  39 :            0 0
row  40 :            1 0              incorrect
row  41 :            0 1              incorrect
row  42 :            1 1
row  43 :            0 0
row  44 :            1 1
row  45 :            0 0
row  46 :            0 0
row  47 :            0 0
row  48 :            0 1              incorrect
row  49 :            0 1              incorrect
row  50 :            0 0
row  51 :            0 0
row  52 :            1 0              incorrect
row  53 :            0 1              incorrect
row  54 :            1 1
row  55 :            1 0              incorrect
row  56 :            0 1              incorrect
row  57 :            1 1
row  58 :            1 0              incorrect
row  59 :            0 0
row  60 :            0 0
row  61 :            0 0
row  62 :            0 0
row  63 :            0 0
row  64 :            0 0
row  65 :            1 1
row  66 :            1 1
row  67 :            0 1              incorrect
row  68 :            0 0
row  69 :            0 1              incorrect
row  70 :            0 1              incorrect
row  71 :            0 0
row  72 :            0 0
row  73 :            0 0
row  74 :            0 0
row  75 :            0 0
row  76 :            0 0
row  77 :            0 0
row  78 :            0 0
row  79 :            0 0
row  80 :            0 1              incorrect
row  81 :            0 0
row  82 :            0 1              incorrect
row  83 :            1 1
row  84 :            0 0
row  85 :            0 0
row  86 :            0 0
row  87 :            0 1              incorrect
row  88 :            0 1              incorrect
row  89 :            1 0              incorrect
row  90 :            1 1
row  91 :            1 0              incorrect
row  92 :            1 1
row  93 :            0 1              incorrect
row  94 :            0 0
row  95 :            1 1
row  96 :            0 0
row  97 :            0 0
row  98 :            0 1              incorrect
row  99 :            0 1              incorrect
row 100 :            0 0
row 101 :            0 0
row 102 :            0 0
row 103 :            0 0
row 104 :            0 0
row 105 :            0 0
row 106 :            0 0
row 107 :            1 1
row 108 :            0 1              incorrect
row 109 :            0 1              incorrect
row 110 :            0 0
row 111 :            0 1              incorrect
row 112 :            1 0              incorrect
row 113 :            0 1              incorrect
row 114 :            0 0
row 115 :            0 0
row 116 :            0 0
row 117 :            0 0
row 118 :            0 1              incorrect
row 119 :            0 1              incorrect
row 120 :            0 1              incorrect
row 121 :            0 0
row 122 :            0 0
row 123 :            0 0
row 124 :            0 0
row 125 :            0 1              incorrect
row 126 :            0 0
row 127 :            0 0
row 128 :            1 1
row 129 :            0 1              incorrect
row 130 :            0 0
row 131 :            1 1
row 132 :            0 0
row 133 :            1 0              incorrect
row 134 :            0 0
row 135 :            1 0              incorrect
row 136 :            0 0
row 137 :            1 1
row 138 :            0 0
row 139 :            0 0
row 140 :            0 1              incorrect
row 141 :            0 0
row 142 :            0 0
row 143 :            1 0              incorrect
row 144 :            0 0
row 145 :            0 0
row 146 :            0 0
row 147 :            1 1
row 148 :            1 0              incorrect
row 149 :            1 1
row 150 :            0 0
row 151 :            0 0
row 152 :            0 0
row 153 :            0 0
row 154 :            1 1
row 155 :            0 1              incorrect
row 156 :            0 0
row 157 :            0 1              incorrect
row 158 :            1 1
row 159 :            0 0
row 160 :            0 0
row 161 :            0 0
row 162 :            1 0              incorrect
row 163 :            0 1              incorrect
row 164 :            0 0
row 165 :            1 1
row 166 :            1 1
row 167 :            0 0
row 168 :            0 0
row 169 :            0 0
row 170 :            0 0
row 171 :            1 1
row 172 :            1 0              incorrect
row 173 :            1 1
row 174 :            0 1              incorrect
row 175 :            0 0
row 176 :            1 1
row 177 :            0 1              incorrect
row 178 :            0 0
row 179 :            0 0
row 180 :            1 0              incorrect
row 181 :            0 0
row 182 :            0 0
row 183 :            1 0              incorrect
row 184 :            0 0
row 185 :            1 1
row 186 :            0 1              incorrect
row 187 :            0 1              incorrect
row 188 :            0 0
row 189 :            0 1              incorrect
row 190 :            0 0
row 191 :            0 1              incorrect
row 192 :            1 1
row 193 :            0 0
row 194 :            0 0
row 195 :            0 0
row 196 :            0 0
row 197 :            0 1              incorrect
row 198 :            0 1              incorrect
row 199 :            0 0
row 200 :            0 0

Correct: 135 out of 201

135

##### The best k for these 42 additional titanic passengers is 15 with a cv accuracy of 0.7062 and the testing accuracy comes out to be 135/201. 

### The best cross validation score I got over this entire program is 0.7759 with a best k of 7. This is for the test where 'sex' was heavily more considered over every other feature. The model was able to more accurately predict the survival of the titanic passengers when gender is heavily more considered than any other feature. 

### Personally, I believe age is the most important feature as explained in the previous tests. Those who are too young or too old cannot care for themselves in such a tragic event. I believe middle-aged adults have the highest chances of survival. With this being said, all of these features may not even matter and the entire survival rate in the Titanic could be all luck.